[2021-04-08 17:10] SadriG91 opened #15 "Feature request"
Is it possible to add support for push commits?
i think it would be even more useful

[2021-04-11 21:41] jackton1 commented on #15
Would this be push to the same branch ?

[2021-04-12 09:48] SadriG91 commented on #15
Yes!

[2021-04-23 09:53] jackton1 opened #20 "Add support for watching a subset of files."
**Is your feature request related to a problem? Please describe.**
Add support for checking a subset of files that have changed relative to the default branch.

[code]

[2021-04-23 10:14] #15 closed

[2021-04-23 10:26] jackton1 commented on #15
@SadriG91 Sorry for the delay but this should be available in [v4](https://github.com/tj-actions/changed-files/releases/tag/v4)

[2021-04-23 11:28] SadriG91 commented on #15
@jackton1 Thanks for the update!

[2021-04-25 05:08] renovate[bot] opened #27 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/tj-actions/changed-files).

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] chore

[2021-04-29 16:57] TobyHFerguson opened #28 "fatal error when using @v.2"
**Describe the bug**
I get the following:

[code]
**To Reproduce**
My template:
[code]

**Expected behavior**
That the system would get a list of changed files

**Additional context**
using ubuntu-latest

[2021-04-29 17:02] TobyHFerguson commented on #28
d'oh - this was because I hadn't included the `fetch-depth: 0` in the checkout repo section. You might want to highlight this in the docs, for newbies like me!

[2021-04-29 18:42] jackton1 commented on #28
Yeah definitely it's hidden in the example.

[2021-04-29 18:46] jackton1 commented on #28
Updated the https://github.com/tj-actions/changed-files#usage let me know if this needs to be improved Thanks.

[2021-05-01 16:11] #20 closed

[2021-05-01 19:32] jackton1 opened #41 "[shellcheck]: Resolve SC2128"
Clean up lines: https://github.com/tj-actions/changed-files/blob/main/entrypoint.sh#L53-L62

[2021-05-01 19:34] jackton1 opened #42 "[shellcheck]: Resolve SC2001"
Clean up lines: https://github.com/tj-actions/changed-files/blob/main/entrypoint.sh#L64-L66

[2021-05-02 00:13] #42 closed

[2021-05-02 00:13] #41 closed

[2021-05-07 21:49] jackton1 opened #54 "Improve test coverage"
- [x] Setup a test folder
- [x] Support testing added files
- [x] Support testing copied files
- [x] Support testing modified files
- [x] Support testing deleted files
- [x] Support testing renamed files
- [x] Support testing files with their type changed
- [x] Support testing unmerged files
- [x] Support testing unknown files

[2021-05-13 16:20] #54 closed

[2021-05-16 17:47] renedekat opened #67 "[BUG] any_changed reports true without matching changed files"
**Describe the bug**
When testing for changes in specific file types the any_changed output is true while it should be false.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following to a yml file
[code]

2. Commit to GitHub without changing any of the match file types.

**Expected behavior**
`echo "One or more files listed above has changed."` should not run since no files are chan

[2021-05-16 19:43] jackton1 commented on #67
Thanks for catching this @renedekat, should be resolved here #68

[2021-05-16 19:43] #67 closed

[2021-05-16 20:07] renedekat commented on #67
Hello @jackton1, the issue still gives the same result with version 6.1

[2021-05-17 08:34] jackton1 commented on #67
@renedekat This should now be resolved in `v6.2`

<img width="404" alt="Screen Shot 2021-05-17 at 4 34 00 AM" src="https://user-images.githubusercontent.com/17484350/118458836-2035a380-b6c9-11eb-82fe-711c6413ea3b.png">

Thanks

[2021-05-17 09:10] renedekat commented on #67
@jackton1 , thanks, I will test it later today. Many thanks for the quick responses.

[2021-05-24 01:36] jmwyson opened #79 "Should the Major Issue Version Point to the Latest Minor?"
**Is your feature request related to a problem? Please describe.**
I am looking for a way to use the latest version of a specific major version in my pipeline. I would like to use the latest v5 version but comparing the latest commit hashes of v5.3 and v5, I see that these currently does not match.

**Describe the solution you'd like**
It would be helpful if we can specify tj-actions/changed-files

[2021-05-24 02:40] jackton1 commented on #79
@jmwyson Not sure that's supported yet, based on https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idstepsuses you would need to specify the major.minor version to use the latest v5.3

[2021-05-24 03:12] #79 closed

[2021-05-25 04:37] jackton1 commented on #79
After reviewing https://docs.github.com/en/actions/creating-actions/about-actions#using-tags-for-release-management I agree that this should be the versioning process and I'll update all major versions to point to their relative latest minor/patch versions. Thanks @jmwyson

[2021-05-25 23:54] jmwyson commented on #79
Thanks for reconsidering @jackton1!

[2021-06-03 03:29] merlinpatt opened #88 "Request: Option to Output Whole File Path"
**Is your feature request related to a problem? Please describe.**
I want to check if the file that's changed is in a specific directory.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
I could do `git status` and check within a `run:` block, but it seems like it would fit bettere as part of this action

**Additional context**
Sample output:
[code]

[2021-06-03 05:18] jackton1 commented on #88
This is already supported the full path should be returned.

![Screen Shot 2021-06-03 at 1 16 31 AM](https://user-images.githubusercontent.com/17484350/120591012-6dc04900-c409-11eb-847c-4c4b0e32c279.png)

Let me know if there's a specific issue you're having

[2021-06-03 07:59] merlinpatt commented on #88
The example in the readme only shows file names. Since paths are included, I think the example needs updating and this should be explicitly mentioned in the text as well.

[2021-06-03 10:48] jackton1 commented on #88
Okay would update the README to reflect that Thanks.

[2021-06-03 11:03] jackton1 commented on #88
Updated https://github.com/tj-actions/changed-files#changed-files to reflect those changes.

Thanks @merlinpatt

[2021-06-03 11:03] #88 closed

[2021-06-16 05:31] daniel-xsu opened #100 "issues with failed getting changed files"
hi,
I met the following errors when using git enterprise. btw, I use ssh login the git repo other than username/password. I changed other repo with .git subdirectory, it still complains the same error. I double checked my repo it works fine but still failed to get this github action works

error log:
================
Run tj-actions/changed-files@v7
  with:
    token: ***
    separator:
/usr/bin/do

[2021-06-16 18:56] jackton1 commented on #100
Hi @daniel-xsu this issue doesn't follow the bug issue template.

Closing due to lack of proper description.

[2021-06-16 18:56] #100 closed

[2021-06-18 04:46] Nambers opened #101 "support windows-latest"
**Is your feature request related to a problem? Please describe.**
uh yes, when i use this workflow in windows-latest env, it cause a error:
[code]
And that is because i should run my C++ workflow in win to use msvc, and i want to use change-file together

**Describe the solution you'd like**
Add win support

[2021-06-18 14:19] #101 closed

[2021-06-18 14:38] jackton1 commented on #101
@Nambers This should be resolved in the latest release.

[2021-06-18 15:57] Nambers commented on #101
ok thx

[2021-06-18 16:35] jackton1 opened #105 "Rename changed_files -> type_changed_files"
**Is your feature request related to a problem? Please describe.**
Clean up tasks. which should resolve any confusion with changed vs modified.

**Describe the solution you'd like**
All references to `changed_files` are modified to `type_changed_files`.

[2021-06-18 23:28] #105 closed

[2021-07-08 18:56] aleclerc-sonrai opened #124 "[Feature] Ability to run a workflow if and only if certain file/directory changes"
### Is your feature request related to a problem? Please describe.

Use case:
I want to run a workflow if and only if any file under a certain directory changes.

If any other files have changed I do not want to run the workflow.

In my case, I'm trying to auto-approve a PR using this action https://github.com/marketplace/actions/auto-approve
but only if files under the `dev` directory have been u

[2021-07-08 19:34] jackton1 commented on #124
Have you tried listing the specific files you want to watch for changes ??

[2021-07-11 16:37] jackton1 commented on #124
Have you tried ??

[code]

[2021-07-11 16:52] jackton1 opened #125 "[Feature] Rename `files` -> `paths` [#tara-label-enhancement] [#tara-label-good first issue]"
### Is your feature request related to a problem? Please describe.

Given that both files and directories can be added using the `files` input which seems limited to describing files.

### Describe the solution you'd like?

Proposed change here would be renaming `files` to `paths` which is more generic and can describe both file based paths and directories.

### Describe alternatives you've consid

[2021-07-12 00:49] aleclerc-sonrai commented on #124
Yeh so that does work, but if i have a file that's not under dev it'll also approve it. I was hoping to get an if in these files, and no others.

[2021-07-12 00:52] jackton1 commented on #124
I doubt that the step would still run for other files but I’m guessing your requesting that if other files and the dev folder change you don’t want to approve the PR just for only the dev folder changes ?

[2021-07-12 00:55] aleclerc-sonrai commented on #124
Yeh that was the idea. However I. did this combined with CODEOWNERS PR restrictions for all files except dev, and that seems to work.

[2021-07-12 03:01] jackton1 commented on #124
I'll look into adding support for this.

Glad you found a way around the issue.

[2021-07-15 20:59] Sonic0 opened #130 "[Feature] Get specific changed files reading a file"
### Is your feature request related to a problem? Please describe.

Hi guys!
I have a Step with a lot of entries in `files:` input and those entries often change. Since I already have an existing file with all files that could change (one for line), is there the possibility to provide this specific file to read from?

### Describe the solution you'd like?

An example of implementation:

source fil

[2021-07-16 17:59] patroza opened #131 "[Feature] Get Changed files since last successful Action run"
### Is your feature request related to a problem? Please describe.

Im trying to find changes not since the last commit on main branch, but since the last commit on main branch with a successful action run.

I found this handy action: https://github.com/nrwl/last-successful-commit-action
but I find no way to define which commit to compare to.
I did find the `sha` config variable, but apparently th

[2021-07-17 14:51] #130 closed

[2021-07-17 15:19] jackton1 commented on #130
@Sonic0 This should be available in the latest release.

[2021-07-17 15:47] #131 closed

[2021-07-17 16:04] jackton1 commented on #131
@patroza This should now be available in the latest [release](https://github.com/tj-actions/changed-files/releases/tag/v8.7)

[2021-07-17 18:04] Sonic0 commented on #130
Thanks a lot! :fireworks:

[2021-07-17 19:13] #124 closed

[2021-07-23 20:08] linnea-foreflight opened #144 "[BUG] <any_changed doesn't capture changes due to renaming files>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug?

I would expect any_changed to be true when there is a renamed file. It looks like any changed doesn't take renamed files into account.

### To Reproduce

Rename a file in the specified directory and then check the any_changed flag.
<img width="610" alt="Screen Shot 2021-07-23 at 4 04 42 PM"

[2021-07-24 12:53] #144 closed

[2021-07-24 16:17] jackton1 commented on #144
@linnea-foreflight This should be resolved in the latest release

[2021-07-30 14:46] linnea-foreflight opened #148 "[Feature] any_changed doesn't capture changes due to deleting files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug?

 I would expect any_changed to be true when there is a deleted file. It looks like any changed doesn't take deleted files into account.

### To Reproduce

Delete a file in the specified directory and then check the any_changed flag.

### What OS are you seeing the problem on?

ubuntu-latest

[2021-07-30 16:14] #148 closed

[2021-07-30 16:30] jackton1 commented on #148
@linnea-foreflight This should be resolved in the latest release. Thanks

[2021-07-30 17:05] linnea-foreflight commented on #148
Thanks!

[2021-08-02 22:06] jackton1 opened #151 "[BUG] Dedupe the output list of changed files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug?

There's a possibility of returning the same file twice when it matches one or more regex used in the files input.

### To Reproduce

1. Create a `.github/workflows/test.yml`
2. Enter the following
[code]

### What OS are you seeing the problem on?

all

### Expected behavior?

The list of ch

[2021-08-06 10:14] #151 closed

[2021-08-09 12:16] ozlotusflare opened #155 "[BUG] `all_modified_files` show deleted files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug?

Hi everyone,
First of all thank you for this action , It is really helpful!
As I understood right documentation `all_modified_files` - showing only `ACMR`

But , when I deleted directory with files it show as `all_modified_files`. In my opinion It's wrong behaviour.

(Plz correct me if I wro

[2021-08-09 12:57] #155 closed

[2021-08-09 13:30] ozlotusflare commented on #155
Thank you !

[2021-08-17 21:02] grzegorzkrukowski opened #158 "Setting remote URL breaks other steps that are using it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug?

It seems that:
`git remote set-url origin "https://${INPUT_TOKEN}@github.com/${GITHUB_REPOSITORY}"`
is permanently breaking the next steps we have in the workflow that depends on it.

After executing the script origin should be set to it's original value instead of keeping it with `INPUT_TOK

[2021-08-18 00:03] #158 closed

[2021-08-18 11:34] jackton1 commented on #158
@grzegorzkrukowski The fix should be available in the latest release. Thanks

[2021-08-20 17:18] jackton1 commented on #148
@linnea-foreflight Just a heads up decided to stick with the previous design in the latest release.

Even though a deleted file can be considered as modified but the general use case would be for files that are changed or renamed and still available in version control, like you mentioned as opposed to deleted files.

You can use `outputs.deleted_files` to get around the issue in the meantime.

[2021-08-23 21:50] shuynh opened #164 "[BUG] changed-files unable to initialize git repository on custom container image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug?

when using a custom container image on ubuntu-latest, `changed-files` is unable to initialize a the git repository
[code]

### To Reproduce

consider this action --
[code]

during the `Initialize containers` step i see it create my container with a working directory--
[code]

then during the

[2021-08-24 00:34] jackton1 commented on #164
You’ll need to use `actions/checkout@v2`.

See: https://github.com/tj-actions/changed-files#usage

[2021-08-24 00:39] shuynh commented on #164
i am, i posted my action above --

[code]

[2021-08-24 00:48] jackton1 commented on #164
Interesting missed that I’ll take a look

[2021-08-24 00:57] jackton1 commented on #164
See: https://github.community/t/custom-docker-action-mounted-volumes/17013

You’re trying to access files outside the mount point

[2021-08-24 00:57] #164 closed

[2021-08-25 17:43] gavrichards opened #165 "[BUG] Deleted files not detected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug?

I am using the action as follows, but when I delete files in "mydir", they are not appearing in the summary.
e.g. I delete mydir/hello.txt
The deleted file is missing from the list "Checking for file changes" and "Deleted files:"
This happens every time.

### To Reproduce

[code]

### What O

[2021-08-25 18:53] #165 closed, assigned to nobody

[2021-08-25 21:17] jackton1 opened #166 "[Feature] Add support for `any_deleted` and `only_deleted` boolean output."
### Is your feature request related to a problem? Please describe.

The current changed file detection via `only_deleted` and `any_deleted` doesn't include deleted files which makes it tough to detect files that were deleted.

### Describe the solution you'd like?

## Proposes Solution

Adding two new boolean outputs should help with detecting file deletion.

[code]

### Describe alternatives you'

[2021-08-26 08:51] IvanPizhenko opened #167 "[Feature] Add support for checkout path"
### Is your feature request related to a problem? Please describe.

I am checking out multiple repositories like this:
[code]
But this action only works for default checkout path.

### Describe the solution you'd like?

Like this:
[code]

### Describe alternatives you've considered?

_No response_

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code

[2021-08-27 14:36] fernandobrito opened #169 "[BUG] Error: xargs: unmatched single quote"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug?

I get the following error sometimes:

[code]

### To Reproduce

I haven't had time to try to reproduce it locally. I'm first posting here to check if this is a known issue or if someone else already had it before I spend more time troubleshooting it (I'm a `bash` novice).

### What OS are yo

[2021-08-28 01:53] #167 closed

[2021-08-28 02:59] #169 closed

[2021-08-28 06:15] iacobfred opened #177 "[Feature] Documentation for difference between all_changed_files and all_modified_files"
### Is your feature request related to a problem? Please describe.

I can't tell the difference between `all_changed_files` and `all_modified_files`.

### Describe the solution you'd like?

I would love it if the two were clearly distinguished in the documentation.

### Describe alternatives you've considered?

_No response_

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to

[2021-08-28 08:49] jackton1 commented on #177
Have you taking a look at https://github.com/tj-actions/changed-files#outputs. I know the `all_changed_files` output might need a better description

[2021-08-28 13:23] fernandobrito commented on #169
Hi @jackton1, thanks a lot for the quick action, really appreciated! I will give the newly released version a try next week.

I have an automation that makes a "backup" of some configuration files from external systems into my repository and it uses the original names from the source systems to create folders and files. Now I realize that this automation indeed created files and folders with quote

[2021-08-29 15:28] #177 closed

[2021-08-29 16:32] jackton1 opened #179 "[Feature] Rename `all_changed_files` to `all_changed_and_modified_files`"
### Is your feature request related to a problem? Please describe.

There’s no clear distinction between the term changed and modified

### Describe the solution you'd like?

To make a clear distinction between changed files and modified files the current all_changed_files needs to be renamed to all changed and modified files

### Describe alternatives you've considered?

_No response_

### Anythi

[2021-08-31 06:36] jackton1 commented on #169
@fernandobrito Okay that makes sense, glad you found the root cause let me know if the error still persist.

Thanks

[2021-08-31 18:34] adamsilkcm opened #180 "[Feature] Specify sed delimiter or escaping forward slashes used in separator"
### Is your feature request related to a problem? Please describe.

When using a separator containing a forward slash, sed interprets it as a delimiter, leading to errors such as
[code]
https://github.com/tj-actions/changed-files/blob/main/entrypoint.sh#L118-L136

### Describe the solution you'd like?

Either an option to choose the delimiter with a default to `/`, e.g. setting SED_DELIMITER=@ wou

[2021-09-04 13:08] #180 closed

[2021-09-04 13:42] #179 closed

[2021-09-05 09:45] jackton1 commented on #180
@adamsilkcm This should be resolved in the latest release. Thanks

[2021-09-05 12:22] #166 closed

[2021-09-24 13:54] morapet opened #196 "[BUG] in entrypoint is referring to gihub.com repository"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug?

This line in entrypoint.sh is adding temporary remote
git remote add temp_changed_files "https://${INPUT_TOKEN}@**github.com**/${GITHUB_REPOSITORY}"
This is not correct for enterprise github servicer has name like github.enterprise.com and therefore this code does not work and it is trying t

[2021-09-26 06:33] #196 closed

[2021-09-28 00:22] adamsilkcm opened #200 "[BUG] Glob vs regex in readme and execution when using * in with: files:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug?

The readme currently contains:
[code]

These examples are utilizing behavior undefined in the ERE

If these characters appear first in an ERE, or immediately following an unescaped vertical-line, circumflex, dollar-sign, or left-parenthesis

GNU Grep allows them to be a part of EREs, but thi

[2021-09-28 02:12] jackton1 commented on #200
@adamsilkcm Updated the REAME to avoid confusion. Thanks

[2021-09-28 02:12] #200 closed

[2021-10-12 13:25] jackton1 opened #208 "[BUG] Usage of quotes around array items"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug?

Based on the documentation using "${ARRAY}" and looping over the items results in a single item instead of looping over each item in an array.

### To Reproduce

[code]

This prints out:
[code]

as opposed to:
[code]

### What OS are you seeing the problem on?

all

### Expected behavior?

[

[2021-10-12 13:47] #208 closed, assigned to nobody

[2021-10-20 01:13] vertxxyz opened #216 "[BUG] Spaces in file names are not handled correctly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the bug?

If you have spaces in your file names and you provide a custom separator (eg. separator: ",") all spaces are replaced by the separator and the results sorted.

### To Reproduce

1. On a repo containing the paths:
 - `embeds/general 412874536418279426/read-me-1 899830563651854336.json`
 - `Te

[2021-10-22 23:03] solarmosaic-kflorence opened #220 "[Feature] fetch HEAD without tags"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

Using this on a monorepo with a lot of tags, it will cause minor slowness and more output over time (there are already hundreds of tags).

### Describe the solution you'd like?

Tags don't seem to be necessary, so fetching can most likely be pe

[2021-10-25 12:06] rocc-jenkins opened #224 "[BUG] not able to find only python files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

 - name: Get specific changed files
        id: changed-files
        uses: tj-actions/changed-files@v11
        with:
          files: |
            .py

i want only python files to be captured and using a

[2021-10-25 12:35] #224 closed, assigned to nobody

[2021-10-25 20:02] #220 closed, assigned to nobody

[2021-10-26 13:06] pranav-paypay opened #227 "[BUG] Changed files not working on self hosted runners"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Not working on self hosted github runners.

### To Reproduce

1. Have a self hosted github runner.
2. Run this action as part of a workflow more than 2 times.

### What OS are you seeing the problem on?

ub

[2021-10-26 14:16] #227 closed, assigned to nobody

[2021-10-27 20:36] psychemedia opened #234 "[Feature] Get changed files in all commits in push"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

The current action seems to just find changed files in the last commit. If a push includes multiple commits, then changed files in all but the last commit will be ignored.

### Describe the solution you'd like?

The ability to list all changed

[2021-10-29 23:28] solarmosaic-kflorence commented on #234
This would actually be really useful on a `pull_request` event as well -- basically I want the ability to "get all changed files since the previous HEAD commit". For example, let's say I create a PR and push a commit (`A`). Then I create a few more commits locally and push those (`B`, `C`). I would want to get only the files that changed after `A`, the previous HEAD commit, up to and including `C`

[2021-10-30 00:52] jackton1 commented on #234
Currently the design for pull requests is to look at the HEAD of the base branch I.e the branch that the pull request would be merged into and performs a diff against the current HEAD of the pull request.

The current limitation is with push events where the last commit is used as the reference, still need to give this some more thoughts but it would ideally require pulling all commits of the push

[2021-10-30 19:55] #234 closed

[2021-10-30 20:07] jackton1 commented on #234
@solarmosaic-kflorence This is now available using

[code]

[2021-11-01 10:02] psychemedia commented on #234
Great, thanks... will give it a go...

[2021-11-03 12:19] jackton1 opened #244 "[Feature] Improve documentation"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

The examples are hard to follow and understand

### Describe the solution you'd like?

I'll like a more detailed example that highlights each use case.

### Describe alternatives you've considered?

_No response_

### Anything else?

_No respon

[2021-11-07 12:15] #244 closed

[2021-11-15 09:38] stevehipwell opened #251 "[BUG] Files input doesn't work when running with `act`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

When running this action with `act` (medium image) and providing a `files` input, the full list of modified files is returned rather than the a filtered list.

### To Reproduce

1. Add action to repo as con

[2021-11-18 23:58] solarmosaic-kflorence opened #253 "[BUG] pull request with `since_last_remote_commit = true` returns fatal: bad object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

The action is not able to locate the last remote commit on the pull-request.

### To Reproduce

Here is the action YAML:

[code]

When this workflow is executed, it results in several `fatal: bad object 9b2

[2021-11-19 00:10] jackton1 commented on #253
@solarmosaic-kflorence You might be missing `fetch-depth: 0` when using the checkout action

[2021-11-19 00:12] #253 closed

[2021-11-19 00:22] solarmosaic-kflorence commented on #253
Hm, thanks @jackton1 it does work with `fetch-depth: 0` -- although this is not going to scale well at all in our monorepo. I will need to find another workaround.

[2021-11-19 02:21] solarmosaic-kflorence commented on #253
This works:

[code]

[2021-11-19 02:22] solarmosaic-kflorence commented on #253
In some cases, I think I don't even need the `changed-files` action to fetch anything. Would be nice if that could be disabled.

[2021-11-19 04:07] jackton1 commented on #253
Okay I’ll take a look at supporting it

[2021-11-19 14:56] jackton1 opened #255 "[Feature] Improve error handling of non local commit reference"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

When using this action errors from non existing commits don’t result in a failure.

See: #253

### Describe the solution you'd like?

Any commit that doesn’t exist locally warns the users with a possible resolution

### Describe alternatives yo

[2021-11-19 20:46] solarmosaic-kflorence commented on #253
Thanks @jackton1 for your always speedy responses, it's appreciated :)

[2021-11-19 21:30] jackton1 commented on #253
No worries, I've made the change to use a shallow history of the last commit on the remote branch, which should be available in the latest release.

[2021-11-19 22:14] solarmosaic-kflorence commented on #253
Confirmed the fix works, thanks!

[2021-11-29 22:44] solarmosaic-kflorence opened #264 "[Feature] Support the same filter syntax as GitHub Workflows"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

This action would be more intuitive and easier to use if it supported the same file filtering syntax as GitHub Workflows support natively. I realize the reason it does not is because it's easier to just accept the input that is used natively by

[2021-11-29 22:45] solarmosaic-kflorence opened #265 "[Feature] Make it easier to exclude files"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

Right now `files` can be used to easily match files, essentially an "allow" list. For example, you can match any file which begins with a path, like `^path/to/directory`. However, it's not easy to exclude files. For example, if I wanted to matc

[2021-11-30 17:13] jackton1 opened #267 "Fix code scanning alert - Warn when duplicate definitions are found."
Tracking issue for:
- [ ] https://github.com/tj-actions/changed-files/security/code-scanning/72

[2021-11-30 17:14] #267 closed

[2021-12-01 23:16] kpturner opened #268 "[BUG] When running in a workflow generated by a dependabot BUMP PR, the action fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

When dependabot creates a PR to bump a package, calls to this action results in one of two errors
[code]
 or
[code]

### To Reproduce

Simply create a workflow that triggers on Pull Requests and uses `tj-ac

[2021-12-02 17:04] jackton1 commented on #268
That’s due to the fact that dependabot doesn’t have access to your GitHub secrets. I’ll suggest using `github.token`.

[2021-12-02 17:06] kpturner commented on #268
Which of the two issues do you mean?

I am now getting this even on PRs that are not created by dependabot
[code]

[2021-12-02 17:07] jackton1 commented on #268
Can you post the code that you currently have running

[2021-12-02 17:32] kpturner commented on #268
[code]
It is weird because this was working OK.  It is like something has gone pear-shaped on the remote as a result of the dependabot runs. Is this creating a fiel on the remote?

[2021-12-02 17:34] jackton1 commented on #268
If the errors are for the dependabot PR’s I’ll recommend re-running them manually

[2021-12-02 17:37] kpturner commented on #268
As I said, I am now getting this error with my own push and pull requests.  Not via dependabot.

[2021-12-02 17:40] jackton1 commented on #268
Did something change on your main branch ?

You might have to use `fetch-depth: 0` with the checkout action.

[2021-12-02 17:42] kpturner commented on #268
Yeah I have that
[code]

[2021-12-02 17:50] kpturner commented on #268
Weird - pushed another random change it it started working again.

So back to dependabot, what would the recommendation be again?

[2021-12-02 17:59] jackton1 commented on #268
https://github.com/tj-actions/changed-files/issues/268#issuecomment-984845526

[2021-12-02 18:04] kpturner commented on #268
I will just skip the tests - which is a bit annoying because I have loads of checks, so they all appear (for each dependabot PR) as skipped when I would rather not see them at all.   Anyway, thanks for the help.

[2021-12-03 10:48] kpturner commented on #268
Sorry but will have to re-open this.  Is still get this randomly on workflows that are triggered by me.  When I make a "push" I get several workflows triggered at once.  Since they run on different runners, it is entirely possible that two or more workflows run simultaneously on the same repo. I then get this:
[code]

[2021-12-03 20:37] jackton1 commented on #268
Can you get all related log information that can be used to debug this as it's unclear from the error message you posted above

[2021-12-03 21:51] kpturner commented on #268
[logs_1605.zip](https://github.com/tj-actions/changed-files/files/7652522/logs_1605.zip)

[2021-12-04 11:11] #255 closed

[2021-12-04 12:49] #268 closed

[2021-12-04 12:57] jackton1 commented on #268
@kpturner This should be resolved in the latest release

[2021-12-04 19:46] Balrrach opened #276 "I cant get `since_last_remote_commit` to work properly on pull_request event"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

If I am not mistaken `since_last_remote_commit` option compares all changes between the last commit available in remote.
When using the next step:
[code]
I get the following result: `README.md iv.yaml package.json`
I am changing only the github

[2021-12-04 19:52] jackton1 commented on #276
Can you try using the latest release: `v11.8` it should be resolved

[2021-12-04 19:55] Balrrach commented on #276
I have but I get the same results

[2021-12-04 20:05] jackton1 commented on #276
Can you add more information about your action setup, also note that the `fetch-depth: 0` is required by using the checkout action.

[2021-12-04 20:10] Balrrach commented on #276
[code]
That the whole setup.

[2021-12-04 20:11] jackton1 commented on #276
What's the output from the logs ??

[2021-12-04 20:14] Balrrach commented on #276
Sure,
[code]

[2021-12-04 20:15] Balrrach commented on #276
It seems to me like its not comparing to the right commit

[2021-12-04 20:17] jackton1 commented on #276
From the logs seems this is triggered by a pull_request based event which uses the last commit on the base branch in the case main (latest commit/HEAD) -> PR branch (latest commit/HEAD)

If you'll like to use the last remote commit on the same branch you can switch

[code]

TO

[code]

[2021-12-04 20:19] Balrrach commented on #276
But I want the action to only trigger on pull requests

[2021-12-04 20:23] jackton1 commented on #276
Which commit are you expecting to use ??

- [ ] The last commit on the PR branch
- [ ] The first commit on the PR branch
- [ ] Another commit on the PR branch
- [ ] The last commit on main
- [ ] Another commit on main

[2021-12-04 20:25] Balrrach commented on #276
The last commit on the pull request branch

[2021-12-04 21:34] #276 closed

[2021-12-04 22:00] jackton1 commented on #276
@Balrrach This should be resolved in the latest release

[2021-12-04 22:23] Balrrach commented on #276
I can confirm the problem is solved. Thanks for the fast answer.

[2021-12-06 13:19] kpturner commented on #268
I am wondering how renovate avoids running into the same issue.  Certainly when I use `renovate` the GitHub Action Workflows that run as  checks all still fail for the same reason.  When the workflow tries to checkout a pricate action using `checkout@v2` it provides a PAT that is stored as an Organization Secret.  The `renovate` PRs fail because they have no access to the secret.

[2021-12-07 02:11] skywalker0618 opened #281 "[BUG] Failed to get change files on pull_request merge event"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

We use changed-files in one of our github workflows. It's basically triggered on pull_request merge. Snippet of code:

[code]

However, in one of our PR merge event, I found the workflow failed with followi

[2021-12-07 02:39] jackton1 commented on #281
Can you include more information about the version you have setup ?

[2021-12-07 20:53] #281 closed

[2021-12-13 13:28] ashrafgt opened #282 "[Feature] Add "any_modified", "other_modified_files" and "all_modified" outputs containing created, edit, renamed, or deleted files"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

In order to test for changes of any kind (create, edit, rename, delete), a combination of 2 conditions is required, like:
[code]

This works well, but it's a bit too long and could be simplified into a single expression.

### Describe the solut

[2021-12-14 07:01] #282 closed

[2021-12-14 07:09] jackton1 commented on #282
@ashrafgt This should now be available in the latest release.

Usage:

[code]

[2021-12-14 07:43] jackton1 commented on #251
After testing this locally I can confirm that this is a problem with [act](https://github.com/nektos/act/issues/926), and I created a related issue.

[2021-12-14 07:43] #251 closed

[2021-12-17 11:00] BaileyJM02 opened #288 "Breaking changes in patch updates?"
Hello, due to a recent update this broke one of my CI pipelines. It appears in version [**1.1.4**](https://github.com/tj-actions/changed-files/releases/tag/v1.1.4) and [**1.1.1**](https://github.com/tj-actions/changed-files/releases/tag/v1.1.1) you included a breaking change. Please follow [semantic versioning](https://semver.org) to prevent this in the future.

[2021-12-17 19:38] jackton1 commented on #288
@BaileyJM02  Thanks for the suggestion. I'll recommend switching from the `v1.1.x` version to `v*` or `v*.*` semantics the legacy `1.1.x` was introduced earlier and wouldn't be supported longer term.

`v1.1.x` -> `v12`

### See
- https://github.com/tj-actions/changed-files/issues/79

[2021-12-17 19:42] #288 closed

[2021-12-29 09:08] tk185060 opened #292 "[BUG] The `only_modified` is evaluated to `true` even when `other_modified_files` is not empty."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

The `only_modified` is evaluated to `true` eventough `other_modified_files` is not empty.

Per the documentation, my understanding is that if there are modifications to files outside the `files` filter, i.e

[2021-12-29 09:28] tk185060 opened #293 "[BUG] The `other_modified_files` contains all modified files even those that match the file `filter`."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

The `other_modified_files `contains all modified files even those that match the file `filter`, also it is not a list of unique matches.

### To Reproduce

This is my usage
[code]
While I deleted a bunch of

[2021-12-29 19:38] jackton1 commented on #292
Just to confirm that this is a bug with the output can you change

[code]

[2021-12-30 00:16] #292 closed

[2021-12-30 00:31] jackton1 commented on #293
@tk185060 I'll recommend using

[code]

[2021-12-30 00:57] #293 closed

[2021-12-30 01:04] jackton1 commented on #293
@tk185060 This should now be resolved in the latest release. Thanks

[2022-01-03 04:10] jackton1 opened #303 "[BUG] Investigate possible bug using since_last_remote_commit when force pushing changes."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Based on https://github.com/tj-actions/changed-files/pull/301 there might be an intermittent bug which occurs when a new sha is forcefully pushed to a branch.

See: https://github.com/tj-actions/changed-fil

[2022-01-03 22:28] marc-hb commented on #216
It requires discipline but shell scripting does support whitespace in filenames just fine:
https://mywiki.wooledge.org/Quotes
https://mywiki.wooledge.org/ParsingLs
https://mywiki.wooledge.org/BashGuide/Arrays

Shellcheck catches 99.99% missing quotes: https://github.com/koalaman/shellcheck/wiki/SC2046

Only "buggy by default" loops. Fix:

[code]

[2022-01-05 02:38] #264 closed

[2022-01-05 02:38] #265 closed

[2022-01-05 04:03] jackton1 commented on #265
@solarmosaic-kflorence This should now be available in the latest release. Thanks

[2022-01-05 04:04] jackton1 commented on #264
@solarmosaic-kflorence This should now be available in the latest release. Thanks

[2022-01-09 13:12] kaslav opened #314 "[BUG] wrong result of any_change output"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

`any_changed` output is `false` even though a file supplied in `files` input has been modified.

### To Reproduce

These steps have to be defined:
[code]

### What OS are you seeing the problem on?

ubuntu-

[2022-01-09 17:05] jackton1 commented on #314
@kaslav The log output above seems to be missing some vital information can you download the full log or copy all outputs generated by `tj-actions/changed-files`

## Downloading the log archive
![05222BC1-0779-42A0-AF50-BFB220442AEB](https://user-images.githubusercontent.com/17484350/148692486-61cb494c-4522-4b46-b2bb-6e10259e4df4.jpeg)

You might also need quotes around:
`echo proto files have cha

[2022-01-09 17:31] kaslav commented on #314
Here is the output generated by `tj-actions/changed-files`
[code]

[2022-01-09 18:40] jackton1 commented on #314
From the logs doesn’t seem like the file was found using the glob action.

I’ll suggest taking a look at https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#filter-pattern-cheat-sheet to update the pattern.

Future work would be to warn when patterns don’t match any files

[2022-01-09 19:09] kaslav commented on #314
Thanks. Indeed it was a problem with the pattern.

[2022-01-09 19:09] #314 closed

[2022-01-28 06:19] ClenchPaign opened #333 "[BUG] Getting Error: `uses:` keyword is not currently supported when using above 12.2 version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

I am getting Error: `uses:` keyword is not currently supported in the Set up job step after downloading all the actions. This happens from the latest 14.1 down to 13. I checked with version 12.2, the issue

[2022-01-28 06:40] jackton1 commented on #333
Related issue: https://github.com/actions/runner/pull/612

[2022-01-28 17:51] jackton1 commented on #333
@ClenchPaign For now I'll suggest downgrading to `v12.2` and would be back-porting the latest changes excluding "Glob pattern" filtering pending feedback on this.

I'll also replicate this to find a possible resolution.

[2022-01-31 15:09] AdrianGarcia-StayWithReside opened #335 "[BUG] Negating filter doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Using a negation filter after another filter doesn't remove files from the modified file lists as expected. Instead, all .py files are included.

### To Reproduce

The output of this action should include a

[2022-01-31 15:58] jackton1 commented on #335
Hi @AdrianGarcia-StayWithReside can you confirm that this is the same situation using the

(Exact extension match)

[code]

OR  (n+1 depth)

[code]

[2022-01-31 16:20] AdrianGarcia-StayWithReside commented on #335
Same result, files in backend/**/migrations/ are included in the changed file list.

[2022-01-31 16:36] jackton1 commented on #335
@AdrianGarcia-StayWithReside Can you include the full log output for the changed files action to assist with debugging.

[2022-01-31 16:53] AdrianGarcia-StayWithReside commented on #335
Sanitized logs from this step in the action:

[code]

[2022-01-31 17:51] jackton1 commented on #335
Seems the problem is the usage of single quotes

Change: `'**.py'` -> `**.py`

[2022-01-31 18:57] AdrianGarcia-StayWithReside commented on #335
This also yields the same result, files from the migration folder are present in the changed file list.

I was following the [GitHub documentation](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#patterns-to-match-file-paths) for matching:

Which doesn't seem to actually matter, it works the same with and without the `'`.

`files: backend/**/migrations/*.py` c

[2022-02-01 08:34] #335 closed

[2022-02-01 08:44] jackton1 commented on #335
@AdrianGarcia-StayWithReside this should be resolved now. Thanks

[2022-02-01 21:59] jackton1 commented on #303
Unable to replicate this bug would keep an eye out for any new occurrence

[2022-02-01 21:59] #303 closed

[2022-02-01 22:03] jackton1 commented on #333
@ClenchPaign Since this bug isn’t an issue with this action but a problem reusing actions this can be closed and any further support can be provided on the PR linked above.

[2022-02-01 22:03] #333 closed

[2022-02-01 23:17] zacker150 opened #340 "[BUG] Action flips forward slash into backslash resulting in match failure."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Somewhere between the `Run actions/github-script@v5` and `Run bash $GITHUB_ACTION_PATH/entrypoint.sh` steps, it converts the input filename `DownloaderForReddit/version.py` to `DownloaderForReddit\version.p

[2022-02-02 03:30] #340 closed

[2022-02-02 03:36] jackton1 commented on #340
@zacker150 This should be resolved in the latest release.

[2022-02-02 12:53] AdrianGarcia-StayWithReside commented on #335
Cool, thanks.

[2022-02-02 17:57] AdrianGarcia-StayWithReside commented on #335
So I typed up this really long follow-up about it _still_ not working and the steps I've tried to fix it, but it turns out that changing `**.py*` to `backend/**/*.py` fixed everything. No idea why the bare `**.py` caused the negation filter to not work...

[2022-02-02 21:01] jackton1 commented on #333
@ClenchPaign I tested this using a self-hosted runner on mac and it's working fine.

Things to note:

[code]
I'll be updating the docs to reflect this let me know if you hit any other issues. Thanks

[2022-02-04 15:23] Naros opened #345 "[BUG] Files detected as changed that are not part of PR"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

The `tj-actions/changed-files` action occasionally reports that files have changed and triggers specific jobs that would otherwise be skipped in our workflow on pull requests.

### To Reproduce

We have a w

[2022-02-04 20:59] jackton1 commented on #345
@Naros I'll recommend upgrading to the latest version [v14.3](https://github.com/tj-actions/changed-files/releases/tag/v14.3).

[2022-02-05 04:45] jackton1 commented on #345
Closing this issue for now you can reopen or create a new issue if the problem persists

[2022-02-05 04:45] #345 closed

[2022-02-05 17:34] Naros commented on #345
Hi @jackton1, from what I could tell after upgrading to 14.3, that solved the matching problem :clap:

[2022-02-09 18:10] pkit opened #349 "[Feature] Add support for detecting changes in submodules"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

This action uses github API which will notice any submodule change as a change in `./submodule_name` "file" and nothing else.
Actual changes in actual files will go unnoticed

### To Reproduce

Run on any r

[2022-02-09 18:46] jackton1 commented on #349
@pkit Seems like this is a feature request as submodules aren't supported at the moment and can you also include the workflow configuration i.e what were you trying to do ?

Based on the current design all change detection is done locally via a git executable and no interactions to Github's API is performed.

[2022-02-09 19:14] pkit commented on #349
The github repo was checked out with all the submodules locally

I can see that call stack goes like that: `tj-actions/changed-files ->  tj-actions/glob@v6 -> actions/github-script@v5` which does call github API

Example workflow excerpt:
[code]

[2022-02-09 20:44] jackton1 commented on #349
Oh `actions/github-script@v5` doesn't interact with Github's API it's used to run a js script for matching the file patterns.

[2022-02-10 01:29] jackton1 commented on #349
@pkit This should be resolved in the latest release.

[2022-02-10 01:50] pkit commented on #349
@jackton1 thanks and sorry. Didn't read into you code much.

[2022-02-10 04:54] jackton1 commented on #349
No worries, seems this requires more work since there's no clean way to do this from the super project.

[2022-02-10 09:56] n2i-onimaru opened #353 "[BUG] "delete" does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Deleted files in a sub directory are not listed in `Deleted files` in logs and `any_modified` returns `false`

### To Reproduce

1. create new repo
1. add workflow file to `.github/workflows`
1. create `tes

[2022-02-10 23:38] grzegorzkrukowski opened #355 "[BUG] Using the fork point to detect file changes."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

We are experience a weird behaviour of changed files being returned on Pull Requests.

You can find my workflow runs here:
https://github.com/raycast/extensions/runs/5148147932?check_suite_focus=true#step:3

[2022-02-12 03:31] jackton1 commented on #353
After investigating this issues seems to occur when glob patterns are used and a short terms solution is to omit the files input

Example:

[code]

[2022-02-12 10:38] grzegorzkrukowski commented on #355
I am afraid that doesn't work:

Here is failing run for Forked PR - it doesn't see a commit.

https://github.com/raycast/extensions/actions/runs/1833497844

But thanks I will ask on `checkout` repository

[2022-02-12 21:27] jackton1 commented on #355
@grzegorzkrukowski After testing this I found the source of the error and should be resolved in #358

[2022-02-12 21:55] grzegorzkrukowski commented on #355
Thanks @jackton1 - so now should I use my original version or one with ‘ref’ ?

[2022-02-12 22:50] jackton1 commented on #355
@grzegorzkrukowski It should be available in the latest release [v14.6](https://github.com/tj-actions/changed-files/releases).

[2022-02-13 00:12] grzegorzkrukowski commented on #355
Ok still - which version should be working now ? :) the one where I checkout merged commit or one with “ref” ?

[2022-02-13 02:09] jackton1 commented on #355
You need to upgrade the action which fixes usage of merge commits

[code]

[2022-02-14 07:30] n2i-onimaru commented on #353
@jackton1
Thank you for your reply.
In my repository, the API and frontend have separate directories (`/api` and `/frontend`), and I want to separate the behavior for each. So it's difficult to omit the directory.
I would be very happy if you could correct it.

[2022-02-14 14:42] grzegorzkrukowski commented on #355
Hey @jackton1 - I'm afraid it's still now working as it should:

Here is a run using code from your last message:
https://github.com/raycast/extensions/runs/5185457484?check_suite_focus=true

And here is a run when I tried to run with `ref` and `repository` to get PR repo:
https://github.com/raycast/extensions/runs/5185420161?check_suite_focus=true

[2022-02-14 16:17] jackton1 opened #365 "[BUG] Gracefully handle errors for repositories without any previous commits"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

https://github.com/tj-actions/glob2/runs/5186771164?check_suite_focus=true

### To Reproduce

https://github.com/tj-actions/glob2/runs/5186771164?check_suite_focus=true

### What OS are you seeing the probl

[2022-02-14 21:11] jacobrask opened #366 "[Feature] files-ignore"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

Similar to `paths-ignore`, a property that lets you say "care about changes to any files but these files" would be useful in a monorepo scenario where you want to exclude certain paths.

### Describe the solution you'd like?

A new `files-ignor

[2022-02-14 22:16] jacobrask opened #367 "[BUG] Argument list too long with files input"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

A couple of thousands files matching the input filter is too long, causing the following error:

[code]

I believe it is happening at `bash $GITHUB_ACTION_PATH/entrypoint.sh` in the action.

### To Reproduc

[2022-02-14 23:28] #353 closed

[2022-02-14 23:30] jackton1 commented on #353
@n2i-onimaru This should be resolved now in the latest version. Thanks

[2022-02-14 23:50] jackton1 commented on #367
@jacobrask I'll recommend skipping the `files: **/*` entirely if you're expecting to detect changes to all files.

[2022-02-15 03:07] n2i-onimaru opened #372 "[BUG] not patterns is not working in files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

I tried to following code:

[code]

But when I changed the file in another directory, `any_modified` didn't work.
I also tested `!testdir/**` and got the same result.

It appears on the list as follows:

[c

[2022-02-15 03:33] #366 closed

[2022-02-15 03:40] n2i-onimaru commented on #372
I also tested it on `v14.7` and it was the same.

[2022-02-15 03:47] jackton1 commented on #372
@n2i-onimaru This is by design if your only pattern is ignoring a specific path then all other files are considered and in this case, wouldn't set `any_changed` to a string `false` | `true`.

If you want to rely on `false` | `true` return from `any_changed` you need at least one matching inclusive pattern.

We also recently introduce `files_ignore` which makes this more intuitive.

[2022-02-15 03:47] #372 closed

[2022-02-15 06:20] jacobrask commented on #367
I'm not, it was just an example. I'm skipping 1/10 files or so in the repository, it's a large one.

[2022-02-15 06:22] jacobrask commented on #367
Using `files_from_source_file` won't help because the crash happens between the glob action and this action.

[2022-02-15 06:47] jackton1 commented on #367
Let me know if it's resolved in the latest release which has a number of significant updates.

[2022-02-15 06:48] jackton1 commented on #366
@jacobrask This should be available in the latest release.

[2022-02-15 06:59] jackton1 commented on #367
Can you also include the logs that would be helpful in debugging?

[2022-02-15 07:18] jacobrask commented on #366
Fantastic, thank you!

[2022-02-15 07:23] jacobrask commented on #367
Ok I'll try the latest release, but pretty sure it's hitting a bash limit here. Getting some other hits when searching "Argument list too long", such as https://github.community/t/maximum-length-for-the-comment-body-in-issues-and-pr/148867

Full logs

[code]

[2022-02-15 21:23] jackton1 commented on #355
@grzegorzkrukowski Just to confirm using https://github.com/ad-m/github-push-action/issues/20#issuecomment-543139381 also doesn't solve the issue for you ??

[2022-02-15 21:32] jackton1 commented on #355
Can you also pass the head_ref to the action

[code]

[2022-02-16 08:54] jackton1 commented on #355
@grzegorzkrukowski I stumble upon a possible solution that might work but I’ll need your help in replicating the issue.

Based on: https://github.com/tj-actions/changed-files/issues/355#issue-1131247960

- I've already made a pull request from a fork #379
- I've merged a couple of PR's into the main branch #381 #380

But I'm unable to replicate more files showing up in the [diff](https://github.co

[2022-02-16 09:08] grzegorzkrukowski commented on #355
Hey @jackton1 thanks for looking into this - let me see if I can reproduce it with your example

[2022-02-16 09:22] grzegorzkrukowski commented on #355
@jackton1 I see you have been doing a lot of merges from main into your branch:
<img width="1067" alt="CleanShot 2022-02-16 at 10 21 20@2x" src="https://user-images.githubusercontent.com/1301068/154233982-46253c73-f969-42f2-a3f9-892d5449334b.png">

When you look at our example - we don't really have merges - branch is never merged with main or rebased after its created.

[2022-02-16 20:15] MattCWheeler opened #382 "[BUG] Project versions are mutated without warning"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

I noticed this because I had pinned to 'tj-actions/changed-files@v13.1' and things had been working well for weeks, and suddenly (as of this morning) changed files are being incorrectly filtered out by a `f

[2022-02-17 04:27] jackton1 commented on #382
@MattCWheeler This was an oversight on my part a change to the glob action was wrongly pushed and clobbered the existing tags.

The error introduced in previous v13.x versions was due to a missing input which has been fixed.

We currently maintain two versioning schemes (major).(patch) version tags and semantic versions mentioned [here](https://docs.github.com/en/actions/creating-actions/about-cus

[2022-02-17 04:28] #382 closed

[2022-02-17 07:59] jackton1 commented on #355
@grzegorzkrukowski This should be resolved using the `use_fork_point` input set to `true`.

See: https://github.com/tj-actions/changed-files/runs/5228672940?check_suite_focus=true

![Screen Shot 2022-02-17 at 2 58 12 AM](https://user-images.githubusercontent.com/17484350/154431152-7bc0abcb-de0c-4867-927e-62632decd464.png)

[2022-02-17 08:22] jackton1 commented on #366
@jacobrask If you haven't already don't forget to star this project to help us reach a wider audience.

[2022-02-17 08:22] jackton1 commented on #355
@grzegorzkrukowski  If you haven't already don't forget to star this project to help us reach a wider audience. Thanks

[2022-02-17 09:02] grzegorzkrukowski commented on #355
Will do !! Thanks for your support ! Its one of the best axtions out there, couldnt live without it.

[2022-02-17 23:02] samm81 opened #387 "[Feature] `since_last_remote_commit` incorrect `on: push` of new branch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

with `since_last_remote_commit: true` in a workflow that is `on: push` the very first push of a new branch will return no files changed

this is because [the _current_ sha is used as a default](https://gith

[2022-02-18 04:07] jackton1 commented on #387
@samm81 This is by design since the previous commit of the branch would be from the base branch.

It does make sense to run the diff using the last commit for `push` events as we currently do for `pull_request` based events

[2022-02-18 04:23] #387 closed

[2022-02-18 16:34] fagai opened #393 "[BUG] It looks like no value such as any_changed has been written."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

It looks like no value such as any_changed has been written.

### To Reproduce

https://github.com/tj-actions/changed-files/runs/5249951780?check_suite_focus=true
Check the execution result of "Show Output"

[2022-02-18 18:24] jackton1 commented on #393
Based on the docs `any_changed` wouldn’t be set to `true|false` until you provide a list of files.

See: https://github.com/tj-actions/changed-files/runs/5249951780?check_suite_focus=true#step:5:36

[2022-02-18 18:24] #393 closed

[2022-02-21 19:03] pkit commented on #349
@jackton1 implemented, it was pretty involving
Should support submodules in submodules now

[2022-02-22 01:47] jackton1 commented on #349
Cool could you initialize a submodule that can be used for the test

[2022-02-22 02:00] jackton1 commented on #365
https://github.com/tj-actions/eslint-changed-files/issues/459

[2022-02-22 11:32] pkit commented on #349
Hmm, I'm not sure I understand how the test output is checked.
But this repo can be added as a submodule to itself.
Which I did now :)

[2022-02-23 08:39] #349 closed

[2022-02-23 21:40] samm81 commented on #387
thanks for jumping on this so fast! I took a look at the #388 , seems like now when a new branch is pushed and the `base_sha` variable doesn't get set anymore - then `diff_sha.sh` uses `git rev-list --no-merges -n 1 HEAD^1`. but I'm not sure this is expected behavior either - if I make a branch off `master` and the latest commit on `master` is a merge commit and then I make a new branch and add a

[2022-02-23 22:44] jackton1 commented on #387
If you want to use the fork point as the base ref you can do so using the latest release [v16](https://github.com/changed-files/releases)

[2022-02-24 20:24] caffeinatedMike opened #400 "How can I set the action to review all commits since the last workflow run?"
I have the following workflow
[code]
Which works great for the previous commit, but when I make multiple commits locally and push them at the end of the day the above workflow does not catch changes from the commits that aren't the last commit in the bunch.

How can I determine the last commit in which the workflow ran on and set that point as the starting point for the latest push's workflow job?

[2022-02-24 20:28] caffeinatedMike commented on #400
I'm silly, just found the `since_last_remote_commit` option. Sorry about that!

[2022-02-24 20:28] #400 closed

[2022-03-01 16:20] Xat59 opened #410 "[BUG] Get all modified/deleted/added files from a Pull Request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Hello team,

I am trying to list all files that have been modified / removed / added from the current pull request comparing to the target branch of the PR.

Here is what I tried :

[code]

Instead of retur

[2022-03-02 02:50] jackton1 commented on #410
@Xat59 Seems the confusion is how "since-last-remote" works.

[code]
# Compares the HEAD or last commit with main.

[code]

Since the `since_last_remote_commit` simply say use `hash1` which is the last remote commit to perform the diff i.e `diff hash1 hash4`

To get all changes in the PR you'll need to remove `since_last_remote_commit`

[2022-03-02 12:53] Xat59 opened #412 "[BUG] Unexpected result"
Hello guys,

I would like to list all files that have changed (by changed I mean removed, edited, added) from my PR.

When using this workflow, I get unexpected result :

[code]

This returns only 1 file while I have 3 modified files in my PR... :

[code]

Note `95635589e714fa8c58d7e0206a966ff8fd311216` is the second to last SHA in the PR, and  `2c0046c6f49aceda59bc9cff304140445da4bb72` is the las

[2022-03-02 13:46] jackton1 commented on #412
@Xat59 That's because your action was triggered from a push event

[code]

[code]

This line above says you pushed a change to your Pull Request and the push event triggered the action on your branch which wouldn't show you changes that have been made in your PR but only changes since the previous commit.

### Solution

Change the trigger above to
[code]

Remove the push entirely if you only want

[2022-03-02 13:47] #412 closed

[2022-03-02 14:30] Xat59 commented on #412
@jackton1 I've other jobs that must be ran after retrieving the list of changed files.

I've did what you said :

[code]

But that still returns the last commit, not the full list of files.

[2022-03-03 17:07] mosherc commented on #367
I am also having this issue with this simple example:
[code]
Why is this issue closed if it's still happening?

[2022-03-04 01:34] rajeshwer opened #414 "failed to Get list of files on pull request merge"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Hello
I am trying to get the name of the file added after pull request is merged
below is my work flow which i am currently using
[code]

It works a expected by listing the newly added file name and reading

[2022-03-04 09:17] jackton1 commented on #414
@rajeshwer Seems you'll need to use `since_last_remote: "true"`.

See: https://github.com/tj-actions/changed-files#example for more information

[2022-03-04 09:17] #414 closed

[2022-03-05 11:55] atorrescogollo opened #417 "[BUG] Separator `\n` only outputs first changed file"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

When using `separator: "\n"`, only the first line is kept in the step output.

### To Reproduce

1. Use `separator: "\n"` with multiple changed files (more than one).
2. Echo the output from the next step.

[2022-03-06 01:56] jackton1 commented on #417
@atorrescogollo I’m a little skeptical about using url encode values to replace the separator as not all downstream usage would decode the output.

[2022-03-07 15:45] genieai-vikas opened #419 "[BUG] Argument too long"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Objective: I am trying to find if any files inside dir a,b,c is changed, added, deleted or modified if yes then I should get `true` and if not then `false`.

Right now facing 3 issues:
1. Changing the file

[2022-03-07 16:36] jackton1 commented on #419
@genieai-vikas Answers to your questions:

Due to the fact that you're trying to figure out if only those files in the files list have changed. I'll recommend using `any_modified` output which would be true when any of the files have changed as opposed to `only_changed` which would be false if the PR contains other file changes.

This can be solved by using `since_last_remote_commit` set to `'true

[2022-03-07 17:05] genieai-vikas commented on #419
@jackton1 As you suggested I tested with this:

[code]
echo ${{ steps.be_changed_files.outputs.any_modified }} is not returning any value. It's coming as blank even when I updated 2 files in the `src/microservices/a/`

Also, `any_modified`  will come `true` when any of the files inside dir a,b and c is changed only. If other files is changed this will come as false. right?

[2022-03-07 17:09] jackton1 commented on #419
Can you post the full log output ?

[2022-03-07 20:52] jackton1 commented on #419
Closing this as it appears to be a usage issue.

[2022-03-07 20:52] #419 closed

[2022-03-07 21:02] genieai-vikas commented on #419
@jackton1

Repo is private so I have removed some sensitive information:

[code]

[2022-03-07 21:05] genieai-vikas commented on #419
This is the GitHub action I am using

[code]

but I am getting blank value of ${{ steps.be_changed_files.outputs.any_modified }.

[2022-03-07 21:20] jackton1 commented on #419
You mentioned

From the lines above what happened is that you said I only want to know what changed since my last commit and all that changed was `.github/workflows/build-ci.yml` which doesn't appear in the list of `file` hence why you are getting an empty output.

If you want it to be true for the PR i.e using the last commit on main and the current HEAD you'll need to remove the setting above.

[2022-03-07 21:37] genieai-vikas commented on #419
@jackton1 I think I was not able to convey my use case.

In a PR, there is always a target branch and a current branch. I just want to compare the last commit and current commit of my `current` branch (I don't care about the target branch) and if any of the files in the above-mentioned directories are changed, delete, or added. I want a `true` or `false` flag (`like this ${{ steps.be_changed_files

[2022-03-07 22:32] jackton1 commented on #419
You might need to change
[code]
TO
[code]

[2022-03-07 22:34] jackton1 commented on #419
To debug the action you can use

[code]

[2022-03-07 23:17] genieai-vikas commented on #419
@jackton1 I am using `${{ steps.be_changed_files.outputs.any_modified }}`; I made copy-paste error above . Here is the output

[code]

[2022-03-08 01:11] jackton1 commented on #419
Can you remove the quotes you have in the file paths

[2022-03-08 01:19] genieai-vikas commented on #419
@jackton1 If I remove the quotes and run. I get this error

[code]

[2022-03-08 01:34] jackton1 commented on #419
How many files do you have in the repository?

[2022-03-08 09:01] genieai-vikas commented on #419
@jackton1 I don't know but it's will grow for sure. Others are having the same issue as well.
https://github.com/tj-actions/changed-files/issues/367#issuecomment-1058270304

[2022-03-08 11:31] jackton1 commented on #419
I've reopened the old issue since this seems to be an external limit of the list of files passed to the action and would require some rework.

[2022-03-08 11:43] jackton1 commented on #367
### Helpful Resources
- https://unix.stackexchange.com/questions/83260/reading-grep-patterns-from-a-file
- https://github.community/t/maximum-length-for-the-comment-body-in-issues-and-pr/148867
- https://linux.die.net/man/1/grep

[2022-03-08 11:59] #417 closed

[2022-03-08 12:10] jackton1 commented on #367
It was closed due to a lack of providing any reproducible information.

[2022-03-08 12:10] jackton1 commented on #367
Based on the community answer a possible resolution would be to write the entire lisr of files to a temp file and clean it up after using it.

This should
- write to /tmp/...
- Pass the output file to the changed-files action
- Run grep using the `-f` flag (Investigate if exact match using `-x` would work with extended regex which would replace the use of `^(patterns)$`.)

### Helpful Resources
-

[2022-03-08 12:29] genieai-vikas commented on #367
@jackton1 Sorry I didn't get this part.
`Run grep using the -f flag (Investigate if exact match using -x would work with extended regex which would replace the use of ^(patterns)$.)`
Can we have a sample snippet for this workaround

[2022-03-09 05:50] jackton1 commented on #417
@atorrescogollo This should be available in the latest release.

[2022-03-09 10:07] genieai-vikas commented on #367
@jackton1 I tried what you suggested above still getting the same error.

1. Write a list of files of directories into a temp file
2. passed the file  like this

[code]

[code]

[2022-03-09 12:12] jackton1 commented on #367
@genieai-vikas Oh no this isn’t a work around you need to implement it’s one Its the changed I have to implement before this can be resolved.1

[2022-03-14 05:01] #367 closed

[2022-03-14 05:02] jackton1 commented on #367
@jacobrask @mosherc @genieai-vikas This should be resolved in the latest release.

[2022-03-14 16:13] rwbennett opened #429 "[BUG] Providing files_ignore without using files input doesn't exclude ignored files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Based on the documentation, using either files or files_ignore should allow users to limit which files are returned in the result set. However, using either or both, I still get files I'm explicitly trying

[2022-03-14 16:31] jackton1 commented on #429
@rwbennett Interesting can you include the full log output generated by `tj-actions/changed-files@v17.3`

[2022-03-14 16:37] rwbennett commented on #429
@jackton1 , here's a newer on in which I've tried the same thing using v18:

[code]

[2022-03-14 16:47] jackton1 commented on #429
@rwbennett Since you only want to detect changes to all `json` files a good option here would be to use

[code]

[2022-03-14 17:27] jackton1 commented on #429
Yes, it appears this is a bug based on the fact that the `files_ignore` currently works in tandem with the `files` input as opposed to independently.

[2022-03-14 18:43] #429 closed

[2022-03-14 20:46] jackton1 commented on #429
@rwbennett This should be resolved now

[2022-03-15 17:15] stumpylog opened #433 "[BUG] Glob Pattern Incorrect?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

When using the tj-actions/changed-files@v18.1 I do not see any files listed as being change.  The CI log also reports a warning about glob patterns that I suspect is related.

### To Reproduce

1. Make a co

[2022-03-15 17:28] jackton1 commented on #433
@stumpylog based on the yml configuration you have above you’ll need to remove hyphens `-` from the list of file patterns

[2022-03-15 17:53] stumpylog commented on #433
Ah, it's using the some commit to do the diff:

`Retrieving changes between b5ae4e517ef1745472fe9cff1dce1772380b6bb8 (dev) → b5ae4e517ef1745472fe9cff1dce1772380b6bb8`

[2022-03-15 17:59] jackton1 commented on #433
Curious if this was a push event ?

[2022-03-15 18:14] stumpylog commented on #433
Yes, with a fetch-depth=2, this worked.  I assume a pull_request event wouldn't need that.

So this was all user error.  Thanks for the info!

[2022-03-15 18:14] #433 closed, assigned to nobody

[2022-03-16 19:27] nathangiusti opened #437 "[BUG] File names with non ascii characters results in octal escape sequence output"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

I have a file called bad-char-é.txt

When I do a get changed files character is not decoded correctly

![image](https://user-images.githubusercontent.com/6363879/158672739-eac2bb23-adef-4286-94f3-4a83bc679e

[2022-03-19 18:47] genieai-vikas commented on #419
@jackton1 I think there is a new bug in v18 and v18.3. The below code was working fine in 17.3 but not anymore

[code]

Description: I was passing **base_sha** so I can compare the current commit with the specific commit of a current branch. In v17.3, I can confirm it was working fine. Here is the output this is the `base_sha` I passed `6fbaee054706cfe09dbd3330e494ffc4fdb3a182` and this is the cur

[2022-03-20 09:12] jackton1 commented on #419
@genieai-vikas Can you file a new bug report highlighting your configuration and the output of the base_sha so I can take a look at this.

 Based on this diff [v17.3…v18.3](https://github.com/tj-actions/changed-files/compare/v17.3...v18.3) there wasn’t any change that should cause this bug. Thanks

[2022-03-20 23:07] genieai-vikas commented on #419
Sure. I'll create a bug

[2022-03-20 23:19] genieai-vikas opened #441 "[BUG] Not able to compare current commit with the specific commit of a branch(in the Pull request event)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

I was passing base_sha so I can compare the current commit with the specific commit of a current branch. In v17.3, I can confirm it was working fine. Here is the output this is the base_sha I passed `6fbaee

[2022-03-21 00:10] jackton1 commented on #419
@genieai-vikas dont forget to include aall logs from tj-actions/changed-files and the output of `${{needs.pre_ci.outputs.PREVIOUS_GITHUB_SHA}}`

[2022-03-21 05:31] jackton1 commented on #441
@genieai-vikas can you provide the entire log output also include the exact value for `base_sha: ${{needs.pre_ci.outputs.PREVIOUS_GITHUB_SHA}}`.

Can you also confirm that `${{needs.pre_ci.outputs.PREVIOUS_GITHUB_SHA}}` is not empty ?

[2022-03-21 19:52] jackton1 commented on #441
@genieai-vikas based on this [test](https://github.com/tj-actions/changed-files/runs/5618892233?check_suite_focus=true#step:63:1) this doesn’t appear to be a bug. I’ll suggest double checking the output from the previous action.

[2022-03-21 19:52] #441 closed

[2022-03-22 08:47] genieai-vikas commented on #441
@jackton1 I'll will double-check and let you know.
Also, the test link you share I checked that link and saw your test jobs are terminating with exit code 1. Have you seen this

![image](https://user-images.githubusercontent.com/86361824/159442015-68572df2-d4af-44a6-9e7a-07827a6d4a54.png)

![image](https://user-images.githubusercontent.com/86361824/159442166-d9cdc94c-80f5-4da0-977f-1dc81a4eb321.pn

[2022-03-22 10:43] jackton1 commented on #441
@genieai-vikas The link I shared redirects to this step in the logs

![6631CA53-E8AB-4D11-BE62-1E754817D478](https://user-images.githubusercontent.com/17484350/159463904-a8a45c0f-da72-4980-b621-446f19a9a465.png)

![C81C2726-A43B-4E54-90DE-55EECED3FA50](https://user-images.githubusercontent.com/17484350/159464179-f189614d-cb19-4e8f-aada-08ada6668bd4.png)

the error you highlighted is coming from a

[2022-03-23 00:24] genieai-vikas commented on #441
@jackton1  I checked again(with v18.4). Still, It does not show the expected behavior.
`${{needs.pre_ci.outputs.PREVIOUS_GITHUB_SHA}}` value is `dece9076331c0560e2dfef4a2a209a608a7474d2`
  `Current SHA` value is `1f2e5f6658b50e110a4e817857d93da96af53173`

  Output logs:

[code]

[2022-03-24 10:37] grzegorzkrukowski opened #447 "[Feature] Get changes from all commits from a single push"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

In one of my repositories we have a situation that users are pushing multiple commits in a single push.
I am running one action on each push and I would like to get the changes from all commits that were added by this action.

### Describe the

[2022-03-24 11:11] jackton1 commented on #447
@grzegorzkrukowski This feature is available  using

[code]

You can check out the README for more examples.

[2022-03-24 11:11] #447 closed

[2022-03-25 17:11] miszo opened #450 "[BUG] Modified files treated as `Non Matching modified files`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Files that are modified in the pull request are being somehow skipped. It is funny because I do it for 3 packages in monorepo and `dashboard` is the only one that acts this way.

### To Reproduce

0. I have

[2022-03-25 17:14] miszo commented on #450
I wonder why I'm getting the message like this in dashboard step
[code]

[2022-03-25 20:05] jackton1 commented on #450
@miszo Can you try changing the glob pattern to

**BEFORE**
[code]

**AFTER**
[code]

[2022-03-25 22:07] miszo commented on #450
@jackton1, actually I've tried that also. With the same result.

[2022-03-25 22:58] jackton1 commented on #450
Can you verify the output of the tempfile

Run:
`find /tmp -type f -exec head -n5 {} \;`

[2022-03-27 12:25] ruzickap opened #452 "[Feature] List files changed/modified/... by commits pushed in passed hours/days/weeks"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

Would it be possible to add some parameters which can help to list changed/modified/... files which were commited in passed X hours/days/weeks ?

Use case:
I would like to run tests only when specific files in directories were changed in passed

[2022-03-28 11:10] miszo commented on #450
@jackton1, should I search for something specific in the tempfile? You know, it is a private repo with client-facing platform, and I'm not comfortable to share this publicly. Maybe I can send you this file through some private channel? E-mail perhaps?

[2022-03-28 12:03] miszo commented on #450
@jackton1, here's the [private repo](https://github.com/miszo/tj-actions_changed-files) with the file output. I've sent you an invitation.

[2022-03-28 12:43] jackton1 commented on #450
@miszo Thanks the output looks correct, I’ll spend sometime debugging this.

[2022-03-28 18:17] jackton1 commented on #450
Found the issue I’ll create a fix later today

[2022-03-29 14:30] miszo commented on #450
@jackton1m, I've just tried to use action from branch `fix/bug-with-pattern-matching` and I'm getting the same results as before 😿

[2022-03-29 14:35] miszo commented on #450
Heres log for the `dashboard` app:

[code]

[2022-03-29 14:37] miszo commented on #450
@jackton1, there's no log about grep error, but the outcome is the same.

[2022-03-29 15:06] jackton1 commented on #450
@miszo Oh okay, sorry it should be resolved for all apps now using the latest release.

[2022-03-29 16:03] miszo commented on #450
@jackton1, it works for most of the cases, but for some reason it doesn't work when I change only GitHub workflow definition files.

Here's the log:

[code]

And I've tried with both:
[code]

and

[code]

[2022-03-29 16:06] jackton1 commented on #450
@miszo The pattern looks off `.github/workflows/quality-gate.yml` would need to be `.github/workflows/*-quality-gate.yml`

[2022-03-29 16:08] miszo commented on #450
@jackton1, but I've modified `.github/workflows/quality-gate.yml` file and deleted `.github/workflows/homepage-quality-gate.yml`. So, I assume that it should mark the file `.github/workflows/quality-gate.yml` as modified.

[2022-03-29 16:11] miszo commented on #450
Generally, I've merged `.github/workflows/dashboard-quality-gate.yml`, `.github/workflows/homepage-quality-gate.yml`, `.github/workflows/storybook-quality-gate.yml`, `.github/workflows/ui-quality-gate.yml` into one `.github/workflows/quality-gate.yml`.
So in this case files `.github/workflows/dashboard-quality-gate.yml`, `.github/workflows/homepage-quality-gate.yml`, `.github/workflows/storybook-q

[2022-03-29 17:37] miszo commented on #450
Hm... that's weird. I'll try to reproduce it in public repository and then send you the link.

[2022-03-29 18:28] scottwn opened #458 "[BUG] Intermittent "Unable to locate the current sha""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

On ~10% of runs, I see this output and the action fails.
[code]
I have confirmed that I'm using `fetch-depth: 0`.

### To Reproduce

I'm not able to reproduce the behavior. It seems to happen intermittently

[2022-03-29 19:31] jackton1 commented on #458
@scottwn You might have to upgrade the checkout action as directed by the docs

[2022-03-29 20:54] jackton1 commented on #458
Some known conditions where this might happen:
1. Force push a commit which overrides the commit hash

2. Deleting a branch during the workflow execution.

[2022-03-29 21:04] jackton1 commented on #458
@scottwn looking at this workflow execution the previous step also fails since the commit no longer exists.

https://github.com/AgnostiqHQ/covalent/runs/5740169813?check_suite_focus=true#step:3:6

[2022-03-29 21:29] #458 closed

[2022-03-30 08:38] miszo commented on #450
Hi @jackton1, I've reproduced the situation in public repository – you can verify the outcome here https://github.com/miszo/tj-actions_changed-files/actions/workflows/quality-gate.yml

I've added you as a contributor to the repo, so feel free to create another branch and play with the patterns.

[2022-03-30 12:17] #450 closed

[2022-03-30 12:44] miszo commented on #450
@jackton1, It works a charm! Thanks for the fix!

Have a great day!

[2022-04-18 20:54] mansurhamidov14 opened #466 "Not listing renamed file with previous path in deleted_files list"
Expected to see renamed files with previous paths in the list of deleted_files. Is there any way to access previous file paths of renamed files?

[2022-04-18 21:38] Steve-Groner commented on #466
I was just looking for this today as well.  I would hope that renamed files would show the original name so we can ensure any downstream actions are taken accordingly.

[2022-04-19 12:04] #466 closed

[2022-04-19 12:06] jackton1 commented on #466
@mansurhamidov14 This issue doesn’t follow the standard issue template. You can create a feature request using the issue template. Thanks

[2022-04-19 12:57] Steve-Groner opened #467 "[BUG] old_new_renamed_files is empty when providing a glob pattern."
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

We see the new file appear in the list, but the old file name is nowhere to be found.  Original filename was robot.txt

changed-files
  Resolving repository path...
  Retrieving changes between 0a570c11e5f8980f290d853b4f4891cc7dd9afcc (master)

[2022-04-19 23:54] mansurhamidov14 commented on #466
I think I was clear enough. This is not corner case, this is one of the most common questions about which can be asked

[2022-04-19 23:56] Steve-Groner commented on #466
A  properly formatted Feature Request has been added here https://github.com/tj-actions/changed-files/issues/467

[2022-04-20 00:02] mansurhamidov14 opened #468 "[Feature] List previous paths of renamed files as deleted files"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

Thank you very much for that great tool. I am using that tool to upload changed files via SFTP. My project contains 3000+files, and it this tool saves a lot of time of mine, but I couldn't file previous paths of renamed files before they get re

[2022-04-20 00:04] #468 closed

[2022-04-20 11:36] mansurhamidov14 commented on #466
I already subscribed. Thanks)

[2022-04-22 13:34] grzegorzkrukowski commented on #355
Hey @jackton1 I am afraid it doesn't work for some reason in our repository:
https://github.com/raycast/extensions/runs/6129212969?check_suite_focus=true

It says about `fetch-depth: 0` - but it's there and still it doesn't find properly the fork point :(
We are still constantly struggling with a proper solution there...

[2022-04-22 14:23] jackton1 commented on #355
I’m guessing this is the link to the PR
https://github.com/raycast/extensions/pull/1266

I’ll take a look at it this weekend.

Something that stands out is the previous sha is unset which seems odd.

This also occurs on a fork that is based on a different branch than main/master

[2022-04-22 14:36] grzegorzkrukowski commented on #355
Thanks for looking into this so quickly!

Yes, exactly that's the related PR.

We haven't been using the `use_fork_point` - I wanted to test it out just today and it didn't work - so I cannot really confirm it was working fully before in our setup.

[2022-04-28 06:08] #437 closed

[2022-04-28 06:28] jackton1 commented on #437
@nathangiusti  Sorry for the delay this should be resolved now

[2022-05-02 19:22] nathangiusti commented on #437
@jackton1

Do I need to use the quotepath argument for this to work?

[2022-05-02 19:39] jackton1 commented on #437
@nathangiusti Yes

[2022-05-05 10:04] grzegorzkrukowski commented on #355
Hey - any news on this one? I still couldn't figure out a proper way to make it work.

[2022-05-12 04:31] martindevnow opened #477 "[BUG] Fails in Self-Hosted Runner"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

A simple job, on a self-hosted runner (Linux) fails, with the following error:

[code]

### To Reproduce

Create a simple job:

[code]

Use a self-hosted runner

Push a change to the branch

See the error

[2022-05-12 14:40] jackton1 commented on #477
@martindevnow Can you also include the logs from the checkout action as this seems like there was an error cloning the repository.

[2022-05-13 00:29] martindevnow commented on #477
Here are the logs from the Checkout step:

[code]

[2022-05-13 02:14] jack-fireworkhq opened #479 "[BUG] Glob pattern for markdown files doesn't work properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Hi, I'm using this action to find all changed markdown files like this.
[code]

It would work but with a warning: "No match found for specified patterns. Ensure that subdirectory patterns a prefixed with "*

[2022-05-14 05:22] jackton1 commented on #477
@martindevnow From the error it’s clear the the repository isn’t located in the working directory.

I’ll suggest you create a test repository using a minimal setup to reproduce this error since the [line](https://github.com/tj-actions/changed-files/blob/main/diff-sha.sh#L28) where the error occurs simply sets up a custom remote name.

Giving that this error is more of an implementation discrepancy

[2022-05-14 05:22] #477 closed

[2022-05-14 05:30] jackton1 commented on #479
@jack-fireworkhq Seems that’s because the pattern itself is invalid.

You’ll need to remove the single quotes you have around the pattern.

[code]

Should be modified to

[code]
OR

[code]

[2022-05-14 05:30] #479 closed

[2022-05-14 23:33] jackton1 commented on #467
@Steve-Groner @hestonhoffman @mansurhamidov14 This is now available in the latest release [v19.3](https://github.com/tj-actions/changed-files/releases/tag/v19.3)

[2022-05-15 01:43] #355 closed

[2022-05-15 01:53] jackton1 commented on #355
@grzegorzkrukowski The bug has been fixed in the latest release [v20](https://github.com/tj-actions/changed-files/releases/tag/v20)

[2022-05-16 03:45] jack-fireworkhq commented on #479
Hi @jackton1 , Sorry to bother you, but I tried what you said above with v19 and v20, and it's still not working.
Here are the output logs:
[code]

And what I use is:
[code]

[2022-05-16 09:40] jack-fireworkhq opened #492 "[BUG] Glob pattern doesn't work for markdown files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Hi @jackton1 , I tried what you mentioned in #479, but it still turns out not working.
I tried with both v19 and v20 but always get "Non Matching modified files".

### To Reproduce

1. with this Workflow:
[

[2022-05-16 17:17] jackton1 commented on #492
@jack-fireworkhq The problem seems obvious your cloning the repository to a specific path i.e

[code]
You need to use the same input for the path
[code]

See: https://github.com/tj-actions/changed-files#example for more options

[2022-05-16 17:57] #492 closed

[2022-05-17 02:02] jack-fireworkhq commented on #492
Thank you so much!

[2022-05-19 15:47] Steve-Groner commented on #467
It isnt working for me.  I see the new line, but it is empty.

  Resolving repository path...
  Retrieving changes between 320bcbae9b4bcfa703d0046a62cad536fa565a53 (master) → c7f91997e5546a682413704dbe1da82be7fec3f7 (master)
  Getting diff...
  Matching changed files: robots_files/robots-kbb-1.txt|robots_files/robots-kbb-2.txt
  Non Matching changed files: .github/workflows/process-file-changes.ym

[2022-05-19 15:47] Steve-Groner commented on #467
Last line I thought should contain the list of old and new names..

[2022-05-20 13:22] Steve-Groner commented on #467
@jackton1 See above, this doesnt appear to be working as expected.

[2022-05-21 06:24] jackton1 commented on #467
@Steve-Groner  Can you post the entirely action configuration you have setup and the full log output.

[2022-05-21 14:38] stevegroner commented on #467
Here is the action

`name: Process File Changes

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Account Environment
        required: true

jobs:

  Process-Files:

    runs-on: [ self-hosted ]
    defaults:
      run:
        shell: bash

    steps:

      - name: Checkout Source Code
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

[2022-05-21 14:39] stevegroner commented on #467
Here are the logs...

`2022-05-21T14:35:57.9838403Z Found online and idle self-hosted runner in the  current repository's enterprise account that matches the required labels: 'self-hosted'
2022-05-21T14:35:58.0449327Z Waiting for the runner to pick up this job...
2022-05-21T14:35:58.2273689Z Job is about to start running on the runner: cai-enterprise-ubuntu-awsactionrunners-d49hr-cdl7w (enterprise

[2022-05-21 19:30] jackton1 commented on #467
@stevegroner Can you test it using this branch `chore/test-rename`

Using
[code]

[2022-05-21 20:15] stevegroner commented on #467
Same response.

`
jobs:

  Process-Files-Test:

    runs-on: [ self-hosted ]
    defaults:
      run:
        shell: bash

    steps:

      - name: Checkout Source Code
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'
          token: ${{ secrets.TOKEN }}
          fetch-depth: 0

      - name: Get Renamed robots.txt files
        id: renamed-files-robots-files

[2022-05-21 20:19] stevegroner commented on #467
FYI, same with or without the token line...

[2022-05-22 05:49] jackton1 commented on #467
@stevegroner Can you verify that the commit being compared has the renamed files from all the tests I ran it returns an output with the old and new filenames?

I recommend using the pull_request event to verify that the rename is present in the pull request branch.

[code]

On Workflow Dispatch

See:
- https://github.com/tj-actions/changed-files/blob/main/.github/workflows/manual-test.yml
- https:

[2022-05-22 14:25] stevegroner commented on #467
I tested it with the following:

[code]

The result was the same.  I did not see any difference.

[code]

[2022-05-22 14:39] stevegroner commented on #467
@jackton1 If I add this step to the bottom you can see the files do appear using git commands

[code]

[code]

[2022-05-22 14:49] jackton1 commented on #467
Can you verify that the result is the same without selecting Deleted files

[code]

[2022-05-22 14:58] stevegroner commented on #467
@jackton1 When I run locally here is what I get

[code]

[2022-05-22 17:20] jackton1 commented on #467
@stevegroner From the code, we run

[code]

I've released a new version but I suggest running the above to see if the output is the same

[2022-05-22 17:33] stevegroner commented on #467
Yep that works locally let me try to push to the repo and see.

[2022-05-22 17:42] stevegroner commented on #467
Interesting... here is the action

[code]

The Command works but still returns nothing from the changed-files action itself.

[code]

[2022-05-22 17:43] stevegroner commented on #467
Could this be some sort of GIT version mismatch or something....

[2022-05-22 17:57] jackton1 commented on #467
Yeah seems odd:

From the logs above
[code]

[2022-05-23 04:10] jackton1 commented on #467
I was able to replicate the bug here: https://github.com/tj-actions/changed-files/runs/6548790981?check_suite_focus=true

It should be a quick fix.

[2022-05-23 13:09] Steve-Groner commented on #467
Cool, please let me know when its fix and I will test.  I really need this piece ;)

[2022-05-23 18:33] Steve-Groner commented on #467
@jackton1 Do you know when this might be pushed.  Just trying to plan around its release.

[2022-05-23 21:57] jackton1 commented on #467
I would get the fix out late today 10 PM EST so it should be available by tomorrow morning

[2022-05-24 04:12] #467 closed

[2022-05-24 04:18] jackton1 commented on #467
@stevegroner The fix should be available in the latest release v20.2. Thanks for debugging this was really a huge help in narrowing down this bug.

[2022-05-24 05:02] stevegroner commented on #467
Confirmed.  20.2 works perfectly.  Thank you so much for fixing it.

[2022-05-24 09:51] dmohns commented on #458
Hey, I'm still encountering this issue. Although it looks a bit different to what was originally reported here. Should I create a new issue or post information here?

[2022-05-24 15:50] jackton1 commented on #458
@dmohns Sure

[2022-05-24 16:20] dmohns commented on #458
Similar to the OP we encounter the issue

[code]

in an un-reproducible way. Sometimes rebasing and force-pushing fixes it, sometimes merging main fixes it. But also sometimes neither of them does.

The configuration I use is

[code]

Example error

[code]

Note how `previous sha` is empty. Unfortunately this happens in private repos and I cannot share the exact workflow run.

To investigate furth

[2022-05-25 12:44] BenjaminKlatt opened #500 "[Feature] Handle Pipeline Error"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

We use the action to identify changes in a specific module and trigger subsequent deployments only if need.
Now, in case of an error in the subsequent process, there is no chance to rerun the pipeline as the file change filter does not detect a

[2022-05-25 14:06] #500 closed

[2022-05-25 19:55] anGie44 opened #501 "[BUG] System.InvalidOperationException: Maximum object size exceeded"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

When running the action in our workflow, we are often seeing the error `Error: The template is not valid. System.InvalidOperationException: Maximum object size exceeded`

The action is used as follows:
http

[2022-05-25 21:43] jackton1 commented on #367
Related Issue: #502

[2022-05-25 21:47] #501 closed

[2022-05-25 21:52] jackton1 commented on #501
@anGie44 Thanks for reporting this issue it should be resolved in the latest [v21](https://github.com/tj-actions/changed-files/releases/v21) release.

[2022-05-26 02:42] mohitnayar123 opened #504 "[Feature] Get distinct changed folders"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

We have build actions which consumes list of files which have changed, since the list of files can be very long, we are facing an error where the argument is too long, to fix the same, if we had a distinct list of changed folders we would be ab

[2022-05-28 16:15] jackton1 commented on #504
@mohitnayar123 Any preference for reading the list of changed files from a temporary file which bypasses the character limitation of GitHub actions.

[2022-05-30 14:20] dmohns commented on #458
I'll actually create a new issue for this, as after some investigation I think it's unrelated.

[2022-05-30 14:25] dmohns opened #506 "[BUG] "Unable to locate the current sha" when using `use_fork_point `"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Running `changed-files` action one a large mono repo "sometimes" yields

[code]

in an un-reproducible way. Sometimes rebasing and force-pushing fixes it, sometimes merging main fixes it. But also sometimes

[2022-05-30 16:39] Archie-Elvie opened #507 "[Feature] since_last_passing_remote_commit"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

I'm currently using this action to detect changes to our dockerfile that we use for dev and our CI/CD pipeline. Currently it will rebuild our image and upload it to the registry if the dockerfile has changed since last remote commit. However, i

[2022-05-31 02:46] #507 closed

[2022-05-31 02:50] jackton1 commented on #507
@Archie-Elvie  I’ve update the [README](https://github.com/tj-actions/changed-files/README.md#examples) highlighting the solution to solving this problem.

[2022-05-31 04:53] zhakanov commented on #506
is it possible to count all the changed files?

[2022-05-31 10:23] Archie-Elvie commented on #507
@jackton1 That works great, thank you. Out of interest is there a reason to use `tj-actions/branch-names@v5` instead of `${{ github.ref_name }}`?

[2022-05-31 17:27] jackton1 commented on #507
From my [test](https://github.com/tj-actions/branch-names/runs/6675552975?check_suite_focus=true#step:4:13) it doesn't appear that `${{ github.ref_name }}` is going to return a valid branch name always which is why `tj-actions/branch-names@v5` is recommended.

[2022-06-01 19:03] grzegorzkrukowski commented on #355
I am afraid I still cannot make it work...

Here is the log from a failed job for one of my tries when using it:
https://github.com/raycast/extensions/actions/runs/2420559225/attempts/2

It says:
[code]

and I am fetching with fetch-depth: 0 :(

[2022-06-03 08:59] choffa commented on #504
I would also like this feature, but for another reason:

We have a few repos that contains multiples microservices in seperate folders, or a backend service and a frontend in the same repo. Having an output with a list of changed directories would allow us to optimize running based on folders touched, saving time and compute.

[2022-06-03 09:14] choffa opened #518 "[BUG] Action does not work when running with `act` anymore"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

The latest version of the action does not work in `act`, the latest working version seems to be `v16`. I am running `act version HEAD-8bc3a07` on macOS. I belive this is a separate issue to #251.

### To Re

[2022-06-03 13:23] jackton1 commented on #518
@choffa Can you also include the version of act your running this with ?

[2022-06-03 14:20] choffa commented on #518
@jackton1 As i mentioned in the issue, I am using `act version HEAD-8bc3a07`, installed with `brew install act --head`. However, since you mentioned it I tried again using the latest stable `act version 0.2.26`, and it works! 🎉

Seems it was an `act`-issue after all, just hope it does not make its way into the stable channel...

Sorry for taking up your time with a non-issue :)

[2022-06-03 14:20] #518 closed

[2022-06-08 00:38] jackton1 commented on #125
Decided to go down the route of replicating the inputs for just directories.

[2022-06-10 07:18] antimack commented on #504
+1 for a feature,  can be really useful in monorepo versioning

[2022-06-12 14:08] #504 closed

[2022-06-12 22:57] jackton1 commented on #504
@choffa @antimack @mohitnayar123 This is now available in the latest release.

[2022-06-17 00:14] kencieszykowski opened #529 "[BUG] `files_ignore` glob pattern matching not behaving as expected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

First off; this may be a misunderstanding of how this function is supposed to work; but for the life of me I can't seem to pattern match so that the files I want to ignore, are completely ignored.

### To R

[2022-06-17 07:43] jackton1 commented on #529
@kencieszykowski This seems like a difference in the expectation of the functionality.

`only_change`
[code]

Currently this works by comparing the set of changed files with the files-ignore pattern included to a set of the unfiltered changed files to determine if the sets are equal then return `true` else return `false` since the diff includes changes to other files.

You might want to use `any_c

[2022-06-17 10:41] #529 closed

[2022-06-17 18:26] kencieszykowski commented on #529
@jackton1

Thanks a lot for the clarity!  Apologies for filing this as a 'bug', I didn't see the option for 'question' when I submitted the request.

Appreciate your help on this matter, and love your Action!

[2022-06-21 17:01] jackton1 commented on #125
After much thought this seems like the best approach to prevent confusion with files and directories

[2022-06-22 02:02] onedr0p opened #530 "[Feature] implement an outputs for matrix compatible jobs"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

Hi 👋🏼

It would be need if you had an `outputs` that can work with a matrix, this does not work

Check out this workflow: https://github.com/onedr0p/containers/blob/c15d8b71b288f812edb971a4c3966e62592bba1c/.github/workflows/release.yaml

And th

[2022-06-22 05:31] jackton1 commented on #530
Hi @onedr0p, based on the error
[code]

You seem to be passing a space-delimited string to the `toJSON` function without quotes.

[code]

See: https://docs.github.com/en/actions/learn-github-actions/expressions#example-returning-a-json-object

[2022-06-22 14:26] jackton1 commented on #530
@onedr0p Edited ⬆️

[2022-06-23 11:29] casperbiering opened #532 "[BUG] Misleading error if git command is missing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

When using self-hosted runner you can't expect commands to be pre-installed.

If `git` command is missing you get the following misleading error:
[code]

### To Reproduce

1. Use self-hosted runner without

[2022-06-24 04:17] #532 closed

[2022-07-04 21:43] po5i opened #542 "[BUG] Repo name changed, workflows are broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

It seems the repo name changed from `changed-files` to `changed`. Now the for workflow to work it should be:

[code]

All README occurrences should be changed. I can happily help with that if that is the on

[2022-07-04 22:19] marcus-crane commented on #542
Heya, +1ing this as we have a bunch of workflows that use this action and the repository name change has broken them all 😢

[2022-07-04 23:16] jackton1 commented on #542
@marcus-crane @po5i Sorry for the mix up I assumed GitHub would redirect request to the new name. Based on https://github.blog/2013-05-16-repository-redirects-are-here/ but it doesn’t appear to work for GitHub actions. The name change has been reverted.

Things should be back to normal. 🙏🏽

[2022-07-04 23:16] #542 closed

[2022-07-05 15:24] rlinstorres opened #543 "[BUG] Keep the same commit SHA between workflows"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Hi, first of all, I am not sure if it is a bug or an improvement.

I have a workflow triggered by `push` events and the result of this workflow is triggering another workflow by `workflow_run`. The problem

[2022-07-06 15:09] jackton1 commented on #543
@rlinstorres Can you also include the event that triggers the workflow in your description.

Example
[code]

[2022-07-06 21:48] rlinstorres commented on #543
For sure, sorry!

- First workflow:
[code]

- Second workflow:
[code]

[2022-07-06 21:49] rlinstorres commented on #543
For sure, sorry!

- First workflow:
[code]

- Second workflow:
[code]

[2022-07-14 08:59] SiddhantSadangi commented on #530
@jackton1
I think the separator parameter is stripping out escaped double quotes:

Step:
[code]

Code:
[code]

Result:
[code]

Expected result:
[code]

[2022-07-14 09:54] SiddhantSadangi opened #545 "[BUG] Separator removing double-quotes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

The separator parameter is stripping out escaped double quotes

### To Reproduce

GitHub Actions Steps:

[code]

Result:
[code]

### What OS are you seeing the problem on?

ubuntu-latest or ubuntu-20.04

##

[2022-07-15 04:17] thearchitector opened #546 "[BUG] changes based on last remote commit fail after rebasing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

A fairly common pattern in PRs is to rebase commits before merging, which might mean that the remote history gets erased/overwritten after a force push.

If the action is configured to calculate changes wit

[2022-07-18 07:01] YossiSaadi opened #547 "[BUG] PREVIOUS_SHA & CURRENT_SHA is the same when re-running a workflow, causing changed-files to be empty"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Action works great when running the workflow in the first attempt, but on the 2nd attempt and next, INPUT_PREVIOUS_SHA & INPUT_CURRENT_SHA are the same
This causes the changed-files to be empty.

So on 1st

[2022-07-18 12:51] jackton1 commented on #547
@YossiSaadi can you include screenshots from the checkout action and the changed-files actions.

Example: https://github.com/tj-actions/changed-files/pull/548#issuecomment-1187295698

Including your current setup of the checkout action and changed files action would be helpful in resolving this bug.

Example:
[code]

[2022-07-18 16:21] YossiSaadi commented on #547
Thanks for the super fast reply @jackton1 !

## 1st attempt
<img width="379" alt="image" src="https://user-images.githubusercontent.com/30905362/179554955-fff1bb04-09fa-483e-ae4f-dc57463d3f6c.png">
<img width="877" alt="image" src="https://user-images.githubusercontent.com/30905362/179555177-caadbbf3-4861-46db-a1ae-cddfd074ea72.png">
<img width="996" alt="image" src="https://user-images.githubuser

[2022-07-18 16:58] jackton1 commented on #547
@YossiSaadi from the action file above I see that you're missing the `fetch-depth` input which defaults to `1` if not set
https://github.com/actions/checkout/blob/main/action.yml#L56.

I think the best solution for this would be to compare the commit hashes and raise an exception if they are the same which appears to be the case when the local copy only has at most 1 commit.

### Proposed solution

[2022-07-18 21:16] jacktony1 commented on #547
@YossiSaadi This should be resolved in the latest release [v23.2](https://github.com/tj-actions/changed-files/releases/tag/v23.2)

[2022-07-18 21:50] YossiSaadi commented on #547
Thank you so much, I really appreciate the effort and the quick reply 🙏🏻😎

[2022-07-19 00:25] jackton1 commented on #547
Your welcome

[2022-07-19 12:45] jackton1 commented on #543
@rlinstorres This should be resolved in the latest release [v23.2](https://github.com/tj-actions/changed-files/releases/tag/v23.2)

[2022-07-19 12:45] #543 closed

[2022-07-24 16:56] wangwalton opened #556 "[Feature] Execute against master"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

Looking to execute the diff against master changes, note that master may have changes that my branch doesn't have.

essentially looking for a way to do this, don't think it's possible, but please correct me if I'm wrong.
[code]

### Describe th

[2022-07-24 17:05] jackton1 commented on #556
@wangwalton By adding the actions/checkout the master branch is already merged into your pull request branch. This action would return a diff of the last commit on master and your branch.

See: https://github.com/tj-actions/changed-files#usage

[2022-07-24 17:05] #556 closed

[2022-07-25 14:10] wangwalton commented on #556
Would this work on the push event? Ideally I can have this feature before I make a pull request

[2022-08-03 20:01] #530 closed

[2022-08-03 20:01] #545 closed

[2022-08-03 21:10] jackton1 commented on #545
@SiddhantSadangi This is now supported in the latest release by setting the `json` input to `true`.

See: https://github.com/tj-actions/changed-files/blob/main/.github/workflows/manual-matrix-test.yml

[2022-08-04 11:39] sangshuduo opened #562 "[BUG] missing opening '(' then stop with windows-latest"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

My action's runs-on is windows-latest

the error message is:

 ParserError: D:\a\_temp\53945d85-e140-4e9e-baf5-4928a0b9745a.ps1:2
Line |
   2 |  for file in .github/workflows/windows.yml inc/bench.h src/CMa

[2022-08-04 20:28] jackton1 commented on #562
@sangshuduo it appears there an unescaped characters in the filenames which is the cause of the error you are seeing. I'll recommend switching from bash loops to natively supported GitHub action function.

CHANGE
[code]

TO
[code]

[2022-08-05 00:39] #562 closed

[2022-08-07 12:24] sangshuduo commented on #562
thanks. it works good.

[2022-08-08 06:19] sebestenyb commented on #530
Hi, I still have the error with the latest version:
[code]

I'm using the workflow file from the repository: https://github.com/tj-actions/changed-files/blob/dd1d85da10027d585a8e394aeee7524eb2f17bcf/.github/workflows/manual-matrix-test.yml

Even if I change the matrix definition in the workflow file to the one from above (`      matrix: "{\"container\": \"${{ steps.changed-files.outputs.all_change

[2022-08-08 09:18] wico-silva opened #564 "[Feature] Git version dependency"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

I'm using self-hosted runners on a machine with Ubuntu 18.04. The default git version is 2.17. When using this action I kept seeing the following errors:
[code]

I tried 'fetch-depth: 0' and 'fetch-depth: 2' and was still getting the same error

[2022-08-08 11:25] ecmadao opened #565 "[BUG] Will output all changed files if not file matches the `**/*.sql` pattern"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

If the `files` pattern contains `**/*.sql`, and it didn't match any changed files in the pull request, will print a warning:

And the action will output all changed files, seems this doesn't make sense.

##

[2022-08-08 12:27] jackton1 commented on #530
@sebestenyb Note the lack of space between the key and value a full example of this can be seen here: https://docs.github.com/en/actions/learn-github-actions/expressions#example-returning-a-json-object

**CHANGE**

[code]

**TO**

[code]

See: https://github.com/tj-actions/changed-files/blob/main/.github/workflows/manual-matrix-test.yml#L27

[2022-08-08 12:29] guitmz commented on #530
Actually what fixed for me was to specify 24.1 in my GitHub actions instead of only 24 for the version.
The syntax I grabbed from the repo test actions and it works fine!

[2022-08-08 12:45] jackton1 commented on #530
Cool.

[2022-08-08 14:43] jackton1 commented on #565
Solution here would be to validate the patterns.

[2022-08-08 15:07] ecmadao commented on #565
The interesting thing is if the pattern is something like `**/*.md`, and even though the PR doesn't have any markdown file changes, it works well with empty output. I only found this issue if the pattern is `**/*.sql`

[2022-08-08 17:18] jackton1 commented on #565
That's strange, I'll expect the warning to show up for all valid glob patterns

[2022-08-08 18:27] #565 closed

[2022-08-08 19:53] sebestenyb commented on #530
The latest test action in the repo is slightly different than the one in the PR merge commit above, it uses a separate step to set the matrix, like
[code]

Not sure this fixed, or the lack of spaces, but it works now, thanks for you help folks!

[2022-08-13 21:50] #564 closed

[2022-08-15 06:51] anshulsahni opened #578 "[Feature] An option to include old names of renamed files in deleted_files array"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

I'm working on a GitHub action workflow where I need a list of all the deleted files, right now the deleted_files output includes only the files which are completely removed and excludes the ones which are renamed. In many cases such as mine[^1

[2022-08-17 21:46] #546 closed

[2022-08-17 21:53] jackton1 commented on #546
@thearchitector This is now available in the latest release.

[2022-08-19 04:03] jackton1 commented on #578
@anshulsahni Given the nature of this feature as described it sounds like you're on the right path. It would introduce complexity with little benefit. However, I can always circle back to implement it but the use case can be better handled in a separate action.

[code]

[2022-08-19 04:03] #578 closed

[2022-08-21 17:04] #452 closed

[2022-08-21 17:25] alerque opened #590 "[Request] Please stop tagging major versions for feature/patch releases"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

The barrage of supposedly "major" release bumps for largely small feature or patch level changes is quite obnoxious and creates churn in downstream dependencies that is completely unnecessary.

Almost all of the releases I've reviewed have been

[2022-08-21 17:49] alerque commented on #590
Yo! If you're going to have a bot that asks people to star it should *at least* check that people haven't done so already. It's public record and any bot could see that I have. Now I'm tempted to unstar.

[2022-08-21 18:49] #590 closed

[2022-08-24 12:20] discordianfish commented on #441
I have the same issue. It looks like something causes it to use the wrong INPUT_CURRENT_SHA.

[2022-08-24 13:05] discordianfish commented on #441
Ugh my issue was somewhere else and I tripped over INPUT_CURRENT_SHA being set to the local merge commit which of course isn't available in my local checkout. Anyway, seems to work fine for me.

[2022-08-24 13:50] discordianfish opened #598 "[BUG] dir_names = true not returning directories with changed files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Using:
[code]

It correctly detects the following changed files:
[code]

But setting `dir_names = true` returns no changed files. Also tried `dir_names = "true"` without it making a difference.

### To Repr

[2022-08-24 13:58] jackton1 commented on #598
@discordianfish Have you tried  using

[code]

[2022-08-24 22:30] boranliu opened #599 "[Feature] Get all changes on current branch against a base_sha"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

Currently I am trying to get all the modified files from a PR when I push a single commit (with potentially multiple commits pushed earlier), and would like to see all modified files (including all modified files from previously pushed commits)

[2022-08-25 01:32] jackton1 commented on #599
By default using

[code]

By default, the diff is based on the last commit SHA on the Target branch of the pull request and the current pushed commit SHA of the current branch

Can you elaborate on the difference in your use case?

[2022-08-25 02:19] boranliu commented on #599
Thanks for the quick response.

My use case is for **on push** event and one example can be illustrated as below:
- Create a branch B which is branched off branch A
- PR on branch B
- Push several commits (in individual commands, so multiple pushes) to branch B
- Lets assume the last commit on branch A has sha 123

So I would like to get all changes files on the current branch B against branch A (

[2022-08-25 07:09] arthurk commented on #598
I have the same problem. Upgrading from v28 to v29 it stopped working in my workflow. I'm also using `dir_names: "true"`.

[code]

[2022-08-26 05:45] #598 closed

[2022-08-26 05:46] jackton1 commented on #598
@arthurk @discordianfish This bug has been fixed in the latest patch release.

[2022-08-26 08:36] arthurk commented on #598
thanks for the quick fix, everything works again

[2022-08-26 23:03] jackton1 commented on #599
@boranliu In that case I'll suggest using

[code]

[2022-08-26 23:14] #599 closed

[2022-09-04 16:31] jsoref opened #608 "stale github.community reference"
I'm not sure which community entry this relates to (I almost certainly read it) as github moved from https://github.community to  https://github.com/community/community/discussions, but: https://github.com/tj-actions/changed-files/blob/5cd280e718a8dae35d1408c82468d0af325c7c77/action.yml#L195
no longer goes anywhere useful.

I think the right thing to reference is probably this:
https://docs.github

[2022-09-04 17:34] preritdas opened #609 "Looping over files with spaces."
Hi, I've been looking through #216 and related information, including the use of `IFS` in BASH. Unfortunately, after countless attempts, I can't seem to get it to work with this action. I'm not sure if it's an issue with this action, a behavior of GitHub actions, or an error in my implementation.

I'm opening this issue because I tried the same script on my Ubuntu server and it worked like a charm

[2022-09-04 23:22] #608 closed

[2022-09-04 23:29] jackton1 commented on #609
@preritdas Can you try using `IFS=$','` instead ?

[2022-09-04 23:34] preritdas commented on #609
Didn't work, sadly. Same code but `IFS=$','` instead of `IFS=","`.

Output:

[code]

[2022-09-05 02:45] jackton1 commented on #609
Can you also put quotes around the output

[code]

[2022-09-05 03:46] preritdas commented on #609
No cigar unfortunately. When wrapping the output in quotes, the entire output is treated as one file. Output below.

[code]

[2022-09-05 05:42] jackton1 commented on #609
@preritdas Seems you'll need to tweak the code you have to resolve the error

For example, you'll need to use

[code]

See this [PR](https://github.com/tj-actions/changed-files/pull/611) for more information.

[2022-09-05 05:42] #609 closed

[2022-09-05 05:51] preritdas commented on #609
Yep, that does the trick. I appreciate the help.

[2022-09-05 13:14] akihironitta opened #612 "[Feature] Publish `v29` release that redirects to the latest version within the major version"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

As we keep the action updated with the dependabot in our repository, we see the bot updates the action too frequently because there's no latest major version `v29`.

### Describe the solution you'd like?

I'd like you to publish the major versi

[2022-09-05 16:25] prein commented on #530
Would any of you mind posting full working example with passing the json to matrix strategy in another job?

[2022-09-05 16:41] jackton1 commented on #530
@prein Here’s an example: https://github.com/tj-actions/changed-files/blob/main/.github/workflows/manual-matrix-test.yml

[2022-09-06 19:19] akihironitta opened #614 "[BUG] Changed files are always missed on macOS"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Changed files are not detected by `tj-actions/changed-files@v29.0.3` on `macos-11` while they are on `ubuntu-20.04` and `windows-2022`.

- Example PR: https://github.com/Lightning-AI/lightning/pull/14563
-

[2022-09-06 21:27] jackton1 commented on #614
I think the source of the issue is
<img width="425" alt="Screen Shot 2022-09-06 at 3 19 35 PM" src="https://user-images.githubusercontent.com/17484350/188741056-fba11a44-93c3-4e46-8e2f-c8428435f91f.png">

The [default runners](https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources) have a small amount of resources you mig

[2022-09-06 22:09] akihironitta commented on #614
@jackton1 Thank you for your reply. My apologies, that's definitely what's causing this issue.

[2022-09-06 22:09] #614 closed

[2022-09-07 14:04] okamosy opened #615 "[BUG] Unable to fetch file changes on merge event"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

When using this action to generate a list of changed folders, it fails to set the hashes correctly on a merge event. I get the following error: `Similar commit hashes detected: previous sha: df2be13f61f134c

[2022-09-08 01:55] #615 closed

[2022-09-13 03:32] haodeon opened #623 "[BUG] since_last_remote_commit does not work in v29.0.4"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Setting `since_last_remote_commit: true` does not set base_sha properly.

base_sha is being set to the previous commit to HEAD.

### To Reproduce

I created a public repo with this config

[code]

I then pu

[2022-09-13 04:34] #623 closed

[2022-09-17 10:52] davorpa commented on #125
Is this a breaking change?

[2022-09-19 08:21] SimenHolmestad opened #629 "[Feature] Improve docs related to "files""
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

The syntax for "files" is different here than when using "on" and "paths" with github workflows.

With github workflows, you would typically write:
[code]

But with this library, the syntax is:

[code]

Note that this syntax __does not use quot

[2022-09-20 00:14] #629 closed

[2022-09-20 03:59] jackton1 commented on #612
This has been resolved. you should now be able to use the major version ([v29](https://github.com/tj-actions/changed-files/releases/tag/v29)) which would always include changes from any minor or patch versions going forward.

[2022-09-20 03:59] #612 closed

[2022-09-21 00:06] flexwang2 opened #635 "[BUG] Add support for pull request close event with merge set to true"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

I want to achieve that - when I create a pull request from a non-master branch and then merge it into master and then print all the files changed.

### To Reproduce

I used below config
[code]

### What OS

[2022-09-21 05:31] jackton1 commented on #635
@flexwang2 Can you also include a copy of the full log output when you rerun the failed job with debug enabled would be super helpful to provide feedback

![Screen Shot 2022-09-20 at 11 30 41 PM](https://user-images.githubusercontent.com/17484350/191421854-902052a6-eeb3-43ec-93bb-a1f8cde9a9aa.png)

[2022-09-22 16:22] a123775 commented on #635
@jackton1 - love the work you've done with this action!

I've been facing the same issue... is there any update/effort to address the bug?

Thanks!

[2022-09-22 20:20] a123775 commented on #635
Looks like it is still an issue 😢

<img width="1040" alt="Screen Shot 2022-09-22 at 1 17 45 PM" src="https://user-images.githubusercontent.com/87031145/191843119-c9e7683f-d2a8-497e-bb33-0e35972672d7.png">

[2022-09-23 07:03] jackton1 commented on #635
@a123775 I planned to debug the issue this weekend and would be rolling out a fix for this as soon as possible. Thanks for the support much appreciated and sorry for the delay.

[2022-09-23 08:37] okorepanov opened #639 "[BUG] Can't get all changed files after pushing new commit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

I want to get all changed files over entire PR after each push event (after adding new commit as well). But i always get changed files from the last commit only. I guess, that i am doing something wrong, so

[2022-09-23 16:55] jackton1 commented on #639
@okorepanov To achieve that you’ll need to use.

[code]

You can also checkout the examples for more information on each input

[2022-09-23 16:55] #639 closed

[2022-09-24 05:37] #635 closed

[2022-09-24 06:35] jackton1 commented on #635
@a123775 @flexwang2 This has been resolved in the latest release.

[2022-09-24 07:17] flexwang2 commented on #635
Thanks a lot bro!

[2022-09-24 12:54] davorpa commented on #635
@jackton1 we have the same issue on making a squash. Version 29.0.4 works well

![image](https://user-images.githubusercontent.com/3125580/192098874-531dd23e-8e12-42ca-9bc1-6e772eab0b79.png)

Here the workflow https://github.com/EbookFoundation/free-programming-books/actions/runs/3117939659/jobs/5056914818

[2022-09-25 20:59] jackton1 commented on #635
@davorpa Good to hear that, you might also want to upgrade to [v31](https://github.com/tj-actions/changed-files/releases/tag/v31) which includes a fix for the error.

[2022-09-28 22:39] alpeb commented on #639
@jackton1 Could you please explain how did this work before in v29 for pull requests, without the need to fetch the entire repo's history?

[2022-09-29 02:46] jackton1 commented on #639
@alpeb This worked previously because the target branch history was also pulled.

See: https://github.com/tj-actions/changed-files/pull/654

I've decided to add this back since the checkout action doesn't have first-class support.

[2022-09-29 02:54] jackton1 commented on #639
@alpeb The fix has been deployed

[2022-09-29 05:04] aseem-heg opened #656 "Similar commit hash detected. You seem to be missing fetch-depth:0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

I deploy branch1 to master, then immediately I rebase branch2 on master and deploy branch2 to master.
Both deployments have GHA functionality where they check for file changes using this GHA `changed-files`

[2022-09-29 12:22] okbel opened #657 "Relative path from a working directory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Hello!

`diff_relative` this directive is not returning the relative path from the folder I'm in.

[code]
returns paths with `web` prefixed. Is this expected?

Apologies if I misunderstood the functionality

[2022-09-29 13:28] #657 closed

[2022-09-29 13:30] jackton1 commented on #656
@aseem-heg Can you upgrade to `v31` and verify that your issue hasn’t been resolved ?

[2022-09-29 15:16] alpeb commented on #639
That's cool, thanks a lot!

[2022-09-29 17:54] corhythm opened #658 "[BUG] I'd like to use file name consisting of Korean, not English"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

I use the file name in Korean.  but in all_changed_files, The change is not detected.
if I use the file name in english is works. Is it possible to use the file name in Korean?

### To Reproduce

* A change

[2022-09-29 18:04] jackton1 commented on #658
I believe you can use `quotepath: "false"`. See: https://github.com/tj-actions/changed-files#inputs for more information.

[2022-09-29 18:23] #658 closed

[2022-09-30 05:39] aseem-heg commented on #656
- this library is trying to get changed file names between
  - Pushed commit: commit that triggered this workflow on gha
  - 2nd commit from head of the branch.
- Since I immediately push another commit to dev branch before this first commits workflow to check file-changed starts - we see that both SHA are same for git diff
  - git diff commit_2 commit_2

Hence we get this error.

[2022-09-30 08:43] jackton1 commented on #656
L

[2022-09-30 08:43] #656 closed

[2022-09-30 20:33] okbel commented on #657
Thank you so much @jackton1 🙏 Much appreciation for your work!

[2022-09-30 21:06] aseem-heg opened #660 "[BUG] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

I deploy branch1 to master, then immediately deploy branch2 to master.
Both deployments have GHA functionality where they check for file changes using this GHA changed-files functionality.
I have set `fetch

[2022-09-30 23:33] jackton1 commented on #660
Hi @aseem-heg Can you include the full logs output with debugging enabled to help resolve this issue faster?

[2022-10-02 13:50] #660 closed

[2022-10-02 13:57] jackton1 opened #668 "[BUG] New commits pushed to the base branch results in errors when shallow history is used."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

See: https://github.com/tj-actions/changed-files/pull/666

### To Reproduce

1.  Create 2 PRs from the base branch
2. Merge PR 1 into the base branch which changes the HEAD sha
3. Notice an error in PR 2 wh

[2022-10-03 03:24] aseem-heg commented on #660
Why are you closing the issue?

[2022-10-03 14:32] jackton1 commented on #660
@aseem-heg This issue has been resolved in the latest release.

[2022-10-04 07:02] corhythm commented on #658
@jackton1 Oh, it works! Thank you for helping me and I'm sorry I didn't read the manual properly.

[2022-10-05 22:11] markus-zhang-unity opened #675 "[BUG] file not ignored with files_ignore option"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

I made three changes in my repo:
- made some changes to looker-tests.yml (this is my GitHub Action file)
- created a new file asdf.view.lookml
- made some changes to blah.view.lookml

In my GitHub Action fi

[2022-10-06 03:40] jackton1 commented on #675
@markus-zhang-unity Can you include a more detailed log output with debug enabled (This requires a rerun of the workflow)

[2022-10-12 15:13] nsalfos opened #678 "[BUG] runner is reporting old Node.js version."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

When running a workflo with this actions is now reporting:
`
Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-runni

[2022-10-12 15:33] heathdutton commented on #678
Confirmed:
[code]

[2022-10-12 17:26] jackton1 commented on #678
This has been resolved in the latest patch release [v32.0.1](https://github.com/tj-actions/changed-files/releases/tag/v32.0.1) and is also updated in the current major release [v32](https://github.com/tj-actions/changed-files/releases/tag/v32). Thanks once again for you keen observation.

[2022-10-12 17:26] #678 closed

[2022-10-12 19:58] #668 closed

[2022-10-13 07:53] neerup opened #688 "[Feature] Output changes to json files in filesystem for processing"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

No problem. Just a request :)

### Describe the solution you'd like?

Be able to have output to files

Use case:
I'm using a java program to process changed and deleted files in my workflow
So to be able to process the result from this action I

[2022-10-14 09:10] neerup opened #690 "[BUG] Random GITHUB_OUTPUT: unbound variable in get-sha.sh"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Im getting random errors like this in my workflows on push
Rerunning the workflow usually resolves the problem

[code]
[logs_505.zip](https://github.com/tj-actions/changed-files/files/9784351/logs_505.zip)

[2022-10-14 13:43] jackton1 commented on #690
@neerup See: https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/

Particularly if you are using self-hosted runners make sure they are updated to version 2.297.0 or greater.

[2022-10-14 17:16] jackton1 commented on #690
Yes, the use of double quotation marks is valid and is used to prevent globbing or word splitting in shell scripts.

See: https://www.shellcheck.net/wiki/SC2086

[2022-10-14 19:22] #690 closed

[2022-10-14 21:58] jackton1 commented on #690
@neerup @mnmaita @cgooderham94 This should be resolved in the latest release.

[2022-10-20 15:59] erezrokah opened #702 "Ability to do a three dots diff"
Hi 👋 Thank you for this great action 🚀

On pull requests events it's quite useful to do a [three dots diff](https://docs.github.com/en/pull-requests/collaborating-with-pull-requests/proposing-changes-to-your-work-with-pull-requests/about-comparing-branches-in-pull-requests#three-dot-and-two-dot-git-diff-comparisons), otherwise if the PR branch is not up to date with the base branch, the result of

[2022-10-20 20:37] lpulley opened #704 "[BUG] Locate the merge-base of a PR branch instead of a relying on the fetch-depth."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

We tried `fetch-depth: 0`, but it was too slow in our large repository. `fetch-depth: 2` usually works, but occasionally `changed-files` seems to be determining the wrong `GITHUB_EVENT_PULL_REQUEST_BASE_SHA

[2022-10-21 05:14] jackton1 commented on #704
@lpulley Given that this is an expected behaviour I’ll recommend you take a look at https://github.com/orgs/community/discussions/25437#discussioncomment-3247910

[2022-10-21 05:21] lpulley commented on #704
I understand how the GitHub merge commits work and that they are not entirely up to date with the target branch if the target branch moves after the PR has been synchronized. I understand that.

My problem is that `changed-files` is occasionally (but not most of the time, apparently) expecting that some arbitrary (to me) ancestor of the GitHub merge commit is checked out already, when it is not --

[2022-10-21 05:37] lpulley commented on #704
Are you saying that this is happening because it's giving up after fetching 20 commits back by default?

[2022-10-21 14:30] #702 closed

[2022-10-21 16:25] lpulley commented on #704
@jackton1 is there a reason why `changed-files` doesn't just `git fetch --deepen` until the merge base is found? That way, this would never just fail.

[2022-10-21 17:28] jackton1 commented on #704
Yes

[2022-10-21 17:28] jackton1 commented on #704
You can increase the number i.e `target_branch_fetch_depth: 100`

[2022-10-21 22:39] jackton1 commented on #702
@erezrokah This is now available in the latest release.

[2022-10-22 05:34] erezrokah commented on #702
Thanks @jackton1 for the super quick fix 🚀

[2022-10-25 15:28] alfred-stokespace opened #708 "[BUG] Fatal: $HOME not set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

[code]

### To Reproduce

1. I'm running on an enterprise GH instance 3.5
2. I have a simple action copied from your example.

4. When I try to trigger your action from a

### What OS are you seeing the pro

[2022-10-25 16:30] jackton1 commented on #708
@alfred-stokespace Given that the error is likely a misconfiguration I'll suggest you take a look at https://docs.github.com/en/enterprise-server@3.2/admin/installation/setting-up-a-github-enterprise-server-instance/installing-github-enterprise-server-on-aws#hardware-considerations, particularly noting that the AMI ID is correct.

[2022-10-25 16:30] #708 closed

[2022-10-25 16:31] alfred-stokespace commented on #708
@jackton1 we have a ubuntu runner on site, are you suggesting I try that?

[2022-10-25 16:33] alfred-stokespace commented on #708
hmm... I guess I took this as a suggestion `runs-on: ubuntu-latest  # windows-latest | macos-latest`
I'll give this a try on our ubuntu runner.

[2022-10-25 16:41] alfred-stokespace commented on #708
Running on ubuntu didn't fix the issue,
this did...
`echo "HOME=$(pwd)" >> $GITHUB_ENV`

like below

[code]

[2022-10-25 16:47] jackton1 commented on #708
The question would be why isn't the HOME env set on the box, If you can take a look at the post generation script here https://github.com/actions/runner-images/tree/b7f276c003aea42575b52247bdb2183e355fca2f/images/linux/post-generation

[2022-10-25 21:39] #704 closed

[2022-10-25 22:13] jackton1 commented on #704
@lpulley This should now be available in the latest release.

[2022-10-26 14:38] fdc-viktor-luft opened #713 "[BUG] Auto-Merge not working properly on Change-Detection for PRs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Instead of failing, I get as output for the "all_modified_files" this:
[code]
Expecting a list of space separated file names, this was causing a severe issue skipping several checks in our CI.

### To Repro

[2022-10-26 15:33] grzegorzkrukowski opened #714 "[BUG] Wrong changed-files returned for forked PRs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Lately, we upgraded to the latest version of changed files, and we are again facing problems with the script detecting too many files changed.

The expected outcome for this PR:
https://github.com/raycast/e

[2022-10-26 20:35] jackton1 commented on #713
@fdc-viktor-luft Can you also include a complete log output with debug logging enabled?

### This can be done by:
- #### Re-running the workflow
![Screen Shot 2022-10-26 at 2 30 41 PM](https://user-images.githubusercontent.com/17484350/198131404-2ff30c05-bf5f-4670-94f7-ab28bbfad4f5.png)

### AND

- #### Downloading the log archive
![Screen Shot 2022-10-26 at 2 33 04 PM](https://user-images.githubu

[2022-10-27 06:39] fdc-viktor-luft commented on #713
I'll see if the log doesn't contain any sensitive data. In that case I'd be happy to share it. I'll try to find some time to do that 👍

[2022-10-28 06:10] hhelmken commented on #713
We are experiencing a quite similar error right now. Here's the relevant log output of this step:
[code]
I'd expect the check to fail, instead `any_changed` results apparently to `true` as our following steps are skipped. In this example there was a file change in this specific folder.

[2022-10-28 15:58] flobernd opened #715 "[BUG] Action fails on initial commit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

When pushing an initial commit that adds a worfklow using this action, it always crashes with the following error:

[code]

### To Reproduce

Push an initial commit that adds a worfklow using this action.

[2022-10-28 18:46] hi-artem commented on #715
Yea. We are experiencing similar issue and it's blocking us from using the gh action.

[2022-10-30 23:21] #713 closed

[2022-10-31 02:59] #715 closed

[2022-10-31 04:52] jackton1 commented on #715
@flobernd This has been resolved in the latest release here’s a working example: https://github.com/tj-actions/demo2

[2022-10-31 18:57] jackton1 commented on #715
@hi-artem I believe your issue is similar to #713 which has also been resolved.

[2022-10-31 18:59] jackton1 commented on #713
@hhelmken @fdc-viktor-luft @MichaelBrandt4994 This issue has been resolved in the latest release.

[2022-11-01 04:07] mwarres opened #735 "Retrieve all changed files and directories relative to the last completed run of a GitHub Actions check"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

In a project I'm working on, we have to generate a list of files that have been changed since the last completed run of a GitHub Actions check.  The code has already been written in a way that works for our project; I am happy to adapt it and a

[2022-11-01 04:39] jackton1 commented on #735
@mwarres I believe that feature is already available using [nrwl/last-successful-commit-action](https://github.com/nrwl/last-successful-commit-action) as this isn't a core feature,  if you decide to open source the solution I'll suggest implementing it as a third party action and let me know how it goes.

[2022-11-01 04:39] #735 closed

[2022-11-01 07:06] fdc-viktor-luft commented on #713
@jackton1 Thank you a lot. Will give a try soon.

[2022-11-01 08:05] jackton1 commented on #714
@grzegorzkrukowski Can you confirm that this is still an issue?

[2022-11-01 08:47] grzegorzkrukowski commented on #714
hey @jackton1 - yes it's still the same case we discussed a long time ago [here](https://github.com/tj-actions/changed-files/issues/355). We are using your awesome action from that time and we sticked to 14.3 version as it was working perfectly, but now due to GitHub deprecations I wanted to upgrade and I found out it's giving us completely different results than 14.3 :(

[2022-11-01 08:59] fdc-viktor-luft commented on #713
@jackton1 I tried it and it doesn't work properly. We will provide you with more information and re-create an issue with the updated logs.

With a PR containing only a single commit we see this error:

[code]

[2022-11-01 09:10] ericLemanissier commented on #713
@jackton1 did you consider using github api to get the changed files in case of Pull Requests ? Here is a dumb example of an action implementing a subset of the inputs/outputs of your action, in a robust way (only for PRs though) https://github.com/ericLemanissier/conan-center-index/blob/patch-5/.github/actions/pr_changed_files/action.yml

[2022-11-01 10:12] msg-freiheit opened #737 "[BUG] Action failing on PR with "Unable to find merge-base in shallow clone""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

We are using the action in version `v34.0.2` (using `@v34` and currently pinned to `932dad3`). When trying to detect changes in a PR (in this case only containing a single commit), the action fails with the

[2022-11-01 15:52] jackton1 commented on #737
@msg-freiheit I think you need to clone the repository first.

[code]

[2022-11-01 16:20] msg-freiheit commented on #737
Sorry, my mistake for not specifying correctly that the excerpt above is part of a repository-internal composite action. The beginning of the actual workflow that uses it looks like this:

[code]

`.github/actions/prepare-target/action.yml` contains this excerpt:

[code]

[2022-11-01 16:34] jackton1 commented on #713
I’ll suggest a simple fix instead

Change
[code]

To

[code]

[2022-11-01 16:53] jackton1 commented on #737
Can you include the logs for the checkout action?

[2022-11-01 17:06] jackton1 commented on #714
I'm guessing you mean `v14.6` instead of `v14.3` as highlighted here?

[2022-11-01 17:13] jackton1 commented on #713
This is the only secret to finding a solution to the issue as excerpts from logs are not helpful a full picture of how the problem occurred would be more valuable or optionally replicating the problem in another repository that isn't private.

[2022-11-01 20:04] msg-freiheit commented on #737
Of course, I added them to the logs in the original comment above (above `===========`). Thank you for looking into this!

[2022-11-01 20:23] fdc-viktor-luft commented on #713
Isn't `fetch-depth: 0` way less efficient for the actions/checkout? 🤔

[2022-11-01 21:22] grzegorzkrukowski commented on #714
Yes, sorry, I fixed the comment.

That older version served us well for a long time, giving us proper results for quite some time after our last session of fixes in the PR I mentioned above.
When I upgrade now to the latest version, most of the things we talked about back then are gone, and I cannot figure out how to properly configure the newest version of this action to give me the expected resu

[2022-11-02 13:36] schalkneethling commented on #737
We are running into the same problem:
https://github.com/mdn/content/blob/main/.github/workflows/pr-check_markdownlint.yml

We had it at 140, then bumped it to 180 - https://github.com/mdn/content/pull/19325/commits/82527215aced8eb7a1116b4634175d0f71ed3d2a

We then received the following message:

[2022-11-02 13:39] schalkneethling commented on #737
@jackton1 and @msg-freiheit I notice on this line the value of the input is stored in a variable but the variable is never used:
https://github.com/tj-actions/changed-files/blob/main/action.yml#L174

[2022-11-02 15:21] jackton1 commented on #714
@grzegorzkrukowski I created a demo repository [here](https://github.com/tj-actions/demo3) to replicate this issue can you create a PR there as the current [PR](https://github.com/tj-actions/demo3/pull/1) with multiple [runs](https://github.com/tj-actions/demo3/actions/runs/3378579557/jobs/5609336416) shows only files that have been modified in the PR?

It would be really helpful to replicate the

[2022-11-02 15:52] jackton1 commented on #714
Got it, that helps I was able to replicate it here https://github.com/jackton1/demo3/actions/runs/3379055121/jobs/5610106082

[2022-11-02 16:05] grzegorzkrukowski commented on #714
@jackton1 great to hear it's not be going crazy :)
Thanks for looking into this problem - I assume it's quite unusual, but for us, it's happening every day :(

[2022-11-02 16:59] ViacheslavKudinov commented on #714
I have same issue.
Basically, it returns difference between my "feature" branch and current master, but not only what I have changed in my branch.

[2022-11-02 21:26] hi-artem opened #747 "Logical Issue in deepenShallowCloneToFindCommit"
We have been using this action, and it periodically crashing while trying to deeper the shallow clone.

I am confused on the purpose of this loop:
https://github.com/tj-actions/changed-files/blob/58b52f3bf81ee4eeaf096bbaefe6415b85a706a0/diff-sha.sh#L78-L89

You can just deepen it to `max_fetch_depth`. AFAIK there are no performance benefits to deepening it multiple times.

Also with the current ap

[2022-11-02 21:37] jackton1 commented on #737
I was able to replicate this issue here: https://github.com/tj-actions/changed-files/actions/runs/3381150545/jobs/5614871501#step:3:1688 and it should be fixed shortly.

[2022-11-02 21:38] #737 closed

[2022-11-03 09:36] valberg opened #750 "[BUG] diff-sha.sh results in "fatal: ambiguous argument '': unknown revision or path not in the working tree.""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

After upgrading to v34 we are getting the following error:

[code]

### To Reproduce

In our job we have the following:

[code]

The `${{ needs.publish_release.outputs.tag }}` comes from a step from a previ

[2022-11-03 10:47] Flydiverny commented on #737
Seeing this in our pipelines today, we updated to v34 yesterday and had PRs working fine but now new PRs are not working after this bugfix ? 🤔

[code]
which appears to be the sha where this fix was introduced. So I'm confused 😄

[2022-11-03 12:14] jackton1 commented on #750
@valberg Can you include the previous version you upgraded from and the log output with debug enabled.

[2022-11-03 12:35] jackton1 commented on #747
This function has been removed

[2022-11-03 12:35] #747 closed

[2022-11-04 02:58] Flydiverny opened #755 "[BUG] Action failing on PR with "Unable to find merge-base in shallow clone. Please increase 'max_fetch_depth' to at least 340.""
### Is there an existing issue for this?
* [x]  I have searched the existing issues

#737 seems very related

### Does this issue exist in the latest version?
* [x]  I'm using the latest release

### Describe the bug?

We updated to v34 recently and had PRs working fine but started seeing failures after what we belive is v34.0.5 release.

Pinning our version to v34.0.2 tag allows the same job to r

[2022-11-04 03:10] jackton1 commented on #755
@Flydiverny This issue has been resolved in the latest release. 1 clue is that you shouldn’t see the same error message.

[2022-11-04 03:10] #755 closed

[2022-11-04 03:24] Flydiverny commented on #755
@jackton1 Thanks, I can't really tell which release as the release notes are a bit hard to consume 😅

I saw the 34.1.1 and 34.1.0 release notes referenced the same PR but I was under the impression that was released in 34.0.5 so it wasn't clear to me if there had been additional changes 🤔

Anyway initially it does appear to work on SHA:d0e44775cd5572bb0ead1d7d2e399015644f7359 (v34.1.0), tho the ac

[2022-11-04 03:26] Flydiverny commented on #755
NVM on the changelog, I read like an idiot, mixed up the PRs, clearly time to go bed 😄

[2022-11-04 03:55] jackton1 commented on #755
Your support is really appreciated. Have a good night 💤

[2022-11-04 13:03] jkremser opened #757 "[BUG] dir_names + files combo ends up in error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

When using dir_names: true and files with globs, it ends up with pipe error

### To Reproduce

When calling the action like this:

[code]
(full workflow https://github.com/jkremser/log2rbac-operator/actions

[2022-11-04 17:38] #757 closed

[2022-11-05 19:12] jackton1 commented on #714
@grzegorzkrukowski @ViacheslavKudinov can you verify that this works for you. Thanks

[2022-11-05 19:46] jackton1 commented on #757
Hi @jkremser can you verify that this has been resolved. Thanks

[2022-11-06 02:29] MemphisMeng opened #766 "How can I let the workflow to detect the changes only in the certain micro service?"
I am having a monorepo-like repo but it's not fully configured so it's a combination of several folders. Each subfolder has its own Dockerfile and my idea is to only let docker build the Dockerfile of the folder where there are new changes. Currently, I am working on a dev branch that already has an open pull request, the changes can be introduced by either git-push or pull request merge once the

[2022-11-06 09:38] grzegorzkrukowski commented on #714
hey @jackton1 - thanks for a quick fix.

It worked for me. I left some comments on your PR - I think I found some "typo" in three places for error messages.

Also, the newest version gives some extensive logging - you can check it here:
https://github.com/raycast/extensions/actions/runs/3260964202/jobs/5660537605#step:4:164

It outputs all changed files for some reason - not sure if that's desired

[2022-11-06 14:47] jackton1 commented on #714
Glad to hear, thanks for reviewing the PR all typos were resolved in a subsequent PR. Let me know if you run into any other issue I’ll look into the diff output as that is handle in a different repository.

[2022-11-06 15:27] jackton1 commented on #766
Hi @MemphisMeng, in order to give you an accurate answer can you enable debug logging and update the trace to include all information generated by the changed-files action.

[2022-11-06 15:27] ViacheslavKudinov commented on #714
Hi,
I've tested on Friday 34.1.1, but now I see it is the newest version.
I need to test this new one then.
I will be back with results the next week.

[2022-11-06 23:03] jackton1 commented on #766
At first glance, I’ll also suggest you simplify your workflow file to use

[code]

[2022-11-07 04:00] #766 closed

[2022-11-07 05:19] SiddhantSadangi commented on #757
I don't see any error, but using file filters still breaks `dir_names`

Without filters
[code]
This lists changes.
Link to run: https://github.com/neptune-ai/examples/actions/runs/3407737702/jobs/5667669387

With filters
[code]
This doesn't return any changes.
Link to run: https://github.com/neptune-ai/examples/actions/runs/3407713523/jobs/5667617759

[2022-11-07 06:13] jackton1 commented on #757
@SiddhantSadangi I'll recommend swapping `*` for `**` I.e `**/scripts/*` to **/scripts/**``

[2022-11-07 12:00] robgutsopedra opened #778 "[BUG] Similar commit hashes detected: previous sha: abc123 is equivalent to the current sha: abc123 on PR merge"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Using version v34 I didn't have any issues - I created a PR, merged it, and on the merge of the PR I used this action to verify some files, like this:
[code]

As of this morning, it started to fail due to:

[2022-11-07 15:21] #778 closed

[2022-11-07 17:02] jackton1 commented on #778
Hi @robgutsopedra, this should be resolved in the latest release, can you verify? Thanks

[2022-11-07 18:34] AbianG opened #782 "Detected dubious ownership in repository error when running the action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

In an already existing CI pipeline, using the action for testing purposes exactly as described in the readme:
[code]
After running I get the error:
[code]

### To Reproduce

1. Existing github actions file

[2022-11-07 18:42] AbianG commented on #782
Using `actions/checkout@v3` with either `fetch-depth: 0` or `fetch-depth: 2` changes nothing, still getting the error.

[2022-11-07 18:52] jackton1 commented on #782
@AbianG The `safe.directory` config is done by the checkout action which you are required to use with this action. Noting that this doesn't have anything to do with the fetch-depth setting.

See: https://github.com/actions/checkout#usage

[2022-11-07 18:52] #782 closed

[2022-11-07 21:53] Ferror opened #783 "[BUG] Action compares only two latest commits on push"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

The way I understand READMe and this action is that I am able to get all changed files in PR. But the simple example below does only compare the two latest commits when pushed. Also the first example does n

[2022-11-07 21:56] #783 closed

[2022-11-08 10:51] romintomasetti commented on #782
Hey there!
I also see this happening with
[code]
I checked that the `checkout` action indeed performs the `safe.directory`, and I does...
(I'm running in a custom Docker image on a self-hosted runner)

[2022-11-08 11:17] AbianG commented on #782
@jackton1 the configuration option seems to be related to `checkout` yes, but this issue in my case started happening after I added `changed-files` action to an already-working pipeline (wanted to perform the actions it has always performed on the whole repo just on the changed files, hence the addition) That's why I believed it had to do with the interaction between `changed-files` and the rest o

[2022-11-08 11:36] AbianG commented on #782
As @jackton1 stated, related to `checkout` and not to this action, but I'll leave the fix to help other users:

Problem is `checkout` `set-safe-directory` is not persisted to other jobs. Instead, a small job to run `run: git config --global --add safe.directory "$GITHUB_WORKSPACE"` should be added. (See: https://github.com/actions/checkout/issues/766)

As an example, I added it just before changed

[2022-11-08 15:59] jallen-frb commented on #783
@jackton1 How would this work for push events where you want to compare your commit to the initial branch commit?

For example: I checkout a branch based on MAIN (call it A). I then make a bunch of commits B,C,D,E. In commit C, I change a file. I want a stage to execute based on that changed file in commit C. This means that if I pushed D the CI would run that stage. The same would trigger in comm

[2022-11-08 18:46] onedr0p opened #789 "[Feature] Unique directories max_depth option"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

Hi 👋🏼

It would be nice if the action supported a way to get set an option to the `dir_names` option which allow you to set a max depth to be unique.

### Describe the solution you'd like?

#### A option of `dir_names_max_depth` which allows th

[2022-11-08 18:46] genieai-vikas opened #790 "[BUG] Please verify that the previous sha is valid, and increase the fetch_depth to a number higher than 40."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Hello, I was using `v17.3` and it was working now. Now I started using version `34.3.3` but now my pipeline is failing.
I am getting this error:

[code]

Basically, I have created a PR(develop <- feature/xx

[2022-11-08 18:52] jackton1 commented on #790
@genieai-vikas can you include the configuration for the checkout action?

[2022-11-08 18:55] genieai-vikas commented on #790
@jackton1 Thanks for the help. here is the checkout action

[code]

[2022-11-08 18:58] jackton1 commented on #790
Okay, I'll recommend using

[code]

[2022-11-08 19:06] genieai-vikas commented on #790
@jackton1 tried but still getting the same error

![image](https://user-images.githubusercontent.com/86361824/200653219-e605623e-ea3b-46d7-9f84-d3718886ba52.png)

[2022-11-08 20:12] jackton1 commented on #790
@genieai-vikas Can you include the full log output with debugging enabled this can be done by rerunning the workflow

[2022-11-08 20:20] jackton1 commented on #783
That's the default for push events @jallen-frb since there's no concept of a base branch for comparing changes with the last pushed remote commit and the current HEAD you can set `since_last_remote_commit: true`

[2022-11-08 21:11] jallen-frb commented on #783
@jackton1 I do not get this behavior. I have to change the file on every push.

[2022-11-08 22:23] #790 closed

[2022-11-08 22:25] jackton1 commented on #790
@genieai-vikas Closing this for now as I’ll need more information to reproduce the bug. Please include more information on your workflow file and provide the related log output in order to reopen the issue. Thanks

[2022-11-09 14:35] robgutsopedra commented on #778
I confirm it's working as expected again, thanks!

[2022-11-09 14:45] Ferror commented on #783
That wont work. The `pull_request `  is required

[2022-11-09 19:27] TurtIeSocks opened #795 "[BUG] Specfic File Bug in v33 / v34 - grep: : No such file or directory"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

With the workflow below, I'm able to successfully run it on V32 and below of this action, but V33 and V34 are failing when I have a single file in the files to check list.

### To Reproduce

[code]

### Wha

[2022-11-09 20:39] jackton1 commented on #783
See: https://github.com/tj-actions/demo3/blob/main/.github/workflows/ci.yml

[2022-11-10 08:31] jackton1 commented on #795
@TurtIeSocks can you provide the full log output using the download button as this output is missing a number of valuable information.

[2022-11-10 08:31] #795 closed

[2022-11-10 15:43] rainabba commented on #790
@jackton1 I your suggest above, can you explain the referenced "previous_commit" job? `needs.previous_commit.outputs.PREVIOUS_GITHUB_SHA`

I'm getting the same depth error in some runs, but not others.

[2022-11-10 20:26] jackton1 commented on #790
@rainabba I'm not entirely sure how the workflow is implemented. i.e where the `needs.previous_commit.outputs.PREVIOUS_GITHUB_SHA` so I can't provide any direction in that regard. I'll recommend using the provided inputs.

E.g

[code]

[2022-11-10 20:48] tbenthompson opened #797 "[BUG] Very simple branch gives: "Unable to find merge-base between main and HEAD.""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

1. I create a very simple branch (just one or two commits) off main with `git checkout -b ...` and `git commit`.
2. Push to Github, create a PR, actions runs and the I get the error `Unable to find merge-ba

[2022-11-10 20:56] tbenthompson commented on #797
I just updated the logs above to include debug info.

[2022-11-10 21:14] tbenthompson commented on #797
I dug into the bash script here and I think it just boils down to the commit in the CI run not showing up as a child commit at any level of main so that we trigger the error here. https://github.com/tj-actions/changed-files/blob/43835a2749cdfe776eae645f75ff773d44ce2aea/diff-sha.sh#L164

Digging in, it appears that the problem is somehow connected to GitHub's speculative merging being pulled in by

[2022-11-10 21:20] tbenthompson commented on #797
I'm trying out this snippet as a way to circumvent the speculative pull request merge commits.

[code]

[2022-11-10 21:24] tbenthompson commented on #797
That snippet seems to work!

I think my problem is temporarily solved, but I'll leave this open in case you all want to take any action here. It still feels like there should be a better solution.

[2022-11-10 21:55] rainabba commented on #790
Okay. I thought it might have been some vudu I wasn't understanding.

I'm presently stuck. Many of my runs are failing like the following. I've gone from 40 all the way up to the max of 5000 and it makes no difference (as seen below.) Any advice?

[code]

[2022-11-11 00:43] jackton1 commented on #797
This is super helpful @tbenthompson, Thanks

[2022-11-11 09:40] staticaland commented on #795
Same here.

[2022-11-11 15:49] tbenthompson commented on #797
Here's the relevant subset of our workflow yml from before the `sha` change:

[code]

[2022-11-11 15:50] tbenthompson commented on #797
Given the PR, should I be okay to remove the `sha: ` line once there's a new release?

Thanks for getting to the bottom of this!!

[2022-11-11 20:19] kategengler commented on #797
I'm seeing this or something very similar upgrading from v25 to v34.4.

[This action](https://github.com/kategengler/playground-ghas/blob/main/.github/actions/find-added-or-modified-rfcs/action.yml#L25-L33)

[code]

[fails with](https://github.com/kategengler/playground-ghas/actions/runs/3447515675/jobs/5753604559#step:3:493) `fatal: 3b2533eb6b9bec349f4377380ada7089b83fbb4a...195389a419e722a0783e3

[2022-11-12 12:15] jackton1 commented on #797
@kategengler I believe the error is due to missing history for non-shallow clones

[2022-11-12 13:42] jackton1 commented on #797
@kategengler Curious does the error persist even when using `fetch-depth: 0` with v34?

[2022-11-13 08:40] #797 closed

[2022-11-13 16:27] staticaland commented on #795
[code]

Works.

[code]

Does not work.

[2022-11-13 19:18] jackton1 commented on #795
@staticaland See: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#patterns-to-match-file-paths

I believe `dev/*.tf` is what you want or an alternative to match subdirectories `dev/**/*.tf`

[2022-11-14 10:16] ViacheslavKudinov commented on #714
Hi,
I think it works fine now.
Thanks for the fix.

[2022-11-14 12:50] vinothgitkumar opened #802 "Unable to locate a common ancestor between production_migration and HEAD"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

My github workflow triggered using PR creation event. Once the workflow triggered the action throws below error and workflow failed.

  Error: Unable to locate a common ancestor between production_migration

[2022-11-15 00:00] jarojasm95 commented on #802
I'm also running into this issue, here's a snippet of the workflow:
[code]

[2022-11-15 03:07] jackton1 commented on #802
Hi, @jarojasm95 have you tried upgrading? I believe the change was introduced in [v34.4.0](https://github.com/tj-actions/changed-files/releases/v34.4.0)

[2022-11-15 09:38] tsigouris007 opened #803 "[BUG] Infinite loop on v34.4.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

The step gets stuck in an infinite loop while checking out.
I am using it to get changed files to scan with Semgrep on a Pull Request.
Changing my step to version 34.3.4 does not raise the same issue.
The l

[2022-11-15 09:48] tsigouris007 commented on #803
If I use with `fetch-depth: 0` it does seem to work.
[code]
This does increase run times but if we cannot move further I guess I can leave it like this.

[2022-11-15 09:55] stof commented on #802
I get a similar issue using v34 (which is v34.4.0 right now). `tj-actions/changed-files` runs for ~15min (apparently fetching lots of git objects) and then fails with `Unable to locate a common ancestor between master and HEAD`

[2022-11-15 09:57] tsigouris007 commented on #802
Hi @stof I am facing the same issue and opened a similar case.
It seems to be working if you use the `actions/checkout@v3` with `fetch-depth: 0`.
Can you try this too?

[2022-11-15 10:00] vinothgitkumar commented on #802
Hi
I am using actions/checkout@v3 with fetch depth:0.

What change do I need to do in the action "tj-actions/changed-files" to avoid this error?

[2022-11-15 11:25] MarianPohling commented on #750
Hey, we have the same issue here and we upgraded from `v22` to `v34`. Could this issue be reopened? It seems like the base branch is used for comparison instead of the previous commit if `since_last_remote_commit` is set to `true`:

[code]

[2022-11-15 11:26] MarianPohling commented on #750
@jackton1 please reopen this issue since it seems to be a bug in the latest version.

[2022-11-15 13:22] ViacheslavKudinov commented on #802
Hi,
eh, same issue with 34.4.0.
We use it as part of reusable workflow. This part looks like:
[code]
Didn't face the issue with 34.1.1.

[2022-11-15 13:26] ViacheslavKudinov commented on #714
Hi,
unfortunately, we get it again on 34.1.1 and update to 34.4.0 even worst as has this issue https://github.com/tj-actions/changed-files/issues/802

[2022-11-15 17:16] #802 closed

[2022-11-15 17:16] #803 closed

[2022-11-15 18:42] #750 closed

[2022-11-16 05:37] jackton1 commented on #803
@tsigouris007 I'll like to point out that the patterns you highlighted aren't valid. You can take a look at the [patterns to match file paths](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#patterns-to-match-file-paths) for more information.

[2022-11-16 09:06] tsigouris007 commented on #803
Hi @jackton1 apart from the patterns the infinite loop did not stop.
But also, why are they not valid?
I have been using them for quite some time on a production environment and have been used for more than 15k runs without a problem and producing right results. What am I not doing right?

[2022-11-16 10:08] tsigouris007 commented on #803
Unfortunately this is not solved.

![ksnip_20221116-120620](https://user-images.githubusercontent.com/10864434/202151516-4df9f150-6448-432d-b731-222156e69eab.png)

Using 34.4.0 version runs for more than 6 minutes without any proper result.
Reverting to 34.3.4 it works.

The step used for this is:
[code]

[2022-11-16 10:31] tsigouris007 commented on #803
Hello again @jackton1 ,
Regarding my patterns they are actually correct as they were in the first place. I thoroughly verified them while testing. Using only `**.extension` does not include sub-directories, you actually need the `**/**.extension` for this to include everything.

[2022-11-16 12:32] jackton1 commented on #803
@tsigouris007 Have you tried upgrading to the latest version.?

[2022-11-16 14:42] tsigouris007 commented on #803
@jackton1 seems like v34.4.2 does the trick.
Thank you very much.

[2022-11-16 16:54] bduffany opened #809 "[BUG] changed-files v34.4.2 unable to locate a common ancestor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

In the latest version, changed-files takes a very long time and seems to be running in a loop, fetching tons of commits. It then fails with "unable to locate a common ancestor."

### To Reproduce

Using che

[2022-11-16 18:55] rainabba opened #812 "`increase the fetch_depth to a number higher than 5000`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Even with `max_fetch_depth: 5000`,

I'm getting: `Error: Unable to locate the current sha: *******************************
  Error: Please verify that current sha is valid, and increase the fetch_depth to a

[2022-11-16 18:57] rainabba commented on #812
Btw, the following is what I'm using for pull-requests (your action for everything else):

[code]

[2022-11-17 11:03] tsigouris007 commented on #809
Similar behavior for me too.
Version 34.4.2
Wasting 10 minutes on a loop and then failing as seen:
![ksnip_20221117-130158](https://user-images.githubusercontent.com/10864434/202429535-b31bc6e1-0cfb-4e5d-a5a6-68452505fb3c.png)

[2022-11-17 13:02] flobernd opened #813 "[Feature] Compare `HEAD` and `unstaged`"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

I hope I did not miss an obvious way of doing this already. It would be great if this action could be configured to show changes between the `index/HEAD` and the `working directory/unstaged`.

When code generation is used in a repository **and*

[2022-11-17 20:15] #809 closed

[2022-11-17 20:15] #812 closed

[2022-11-17 20:18] #813 closed

[2022-11-17 20:26] jackton1 commented on #812
High-level description: This bug occurs when the fork point and the last commit of the base branch have changed, resulting in errors finding the merge-base as the checkout action merges the tip of the target branch to the PR branch.

To prevent this error going forward a pre-check to determine the validity of merge-base would be used falling back to the last commit of the target branch where neces

[2022-11-17 20:26] jackton1 commented on #809
High-level description: This bug occurs when the fork point and the last commit of the base branch have changed, resulting in errors finding the merge-base as the checkout action merges the tip of the target branch to the PR branch.

To prevent this error going forward a pre-check to determine the validity of merge-base would be used falling back to the last commit of the target branch where neces

[2022-11-17 20:27] jackton1 commented on #802
High-level description: This bug occurs when the fork point and the last commit of the base branch have changed, resulting in errors finding the merge-base as the checkout action merges the tip of the target branch to the PR branch.

To prevent this error going forward a pre-check to determine the validity of merge-base would be used falling back to the last commit of the target branch where neces

[2022-11-17 20:27] jackton1 commented on #797
High-level description: This bug occurs when the fork point and the last commit of the base branch have changed, resulting in errors finding the merge-base as the checkout action merges the tip of the target branch to the PR branch.

To prevent this error going forward a pre-check to determine the validity of merge-base would be used falling back to the last commit of the target branch where neces

[2022-11-18 04:57] jackton1 commented on #809
@bduffany This issue has now been resolved in the latest release. Sorry for the delay.

[2022-11-18 17:40] dlopeza commented on #795
Same problem here with files: tests/**.js

As a workaround I used version v32

[2022-11-18 18:21] jackton1 commented on #795
Have you tried using `test/**/*.js‘

[2022-11-18 21:49] staticaland commented on #795
Reading [the docs](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#patterns-to-match-file-paths), I don't really see how `dev/**.tf` is wrong. I believe it was working fine for `on.push.paths`.

[2022-11-18 23:17] jackton1 commented on #795
After reaching out to the support team I discovered that there are differences in Implementation of the native workflow globstar matching and the https://github.com/isaacs/minimatch library used by this action an example of such differences can be seen below

- https://github.com/tj-actions/glob/actions/runs/3500893688/jobs/5864022728#step:6:3
- https://github.com/tj-actions/glob/actions/runs/3500

[2022-11-21 12:03] jackton1 commented on #714
@ViacheslavKudinov can you verify that this is still an issue in the latest release?

[2022-11-21 12:08] jackton1 opened #820 "[Feature] Replace all usage of nrwl/last-successful-commit-action with nrwl/nx-set-shas"
### Is this feature missing in the latest version?

- [X] I'm using the latest release

### Is your feature request related to a problem? Please describe.

https://github.com/nrwl/last-successful-commit-action has been archived.

### Describe the solution you'd like?

References to the archived nrwl/last-successful-commit-action are updated.

### Describe alternatives you've considered?

_No respo

[2022-11-21 13:09] ViacheslavKudinov commented on #714
Hi @jackton1
yes, i've updated for the new version and monitor result.
TBH, this situation with "wrong behaviout" was coming not all the time. It is difficult to catch the moment and the reason why it appears as we use it on pretty active monorepo.

[2022-11-21 18:58] grzegorzkrukowski commented on #714
We also upgraded today to 34.4.4 - will be monitoring the behaviour this week on our monorepo

[2022-11-21 20:28] jackton1 commented on #714
Okay, I'll recommend posting any related logs with debugging enabled which would be helpful to resolve the issue. Thanks

[2022-11-22 01:04] rainabba commented on #812
Thanks for confirming the bug. To be clear, are you saying that I should setup that pre-check, or that will be added to the action [soon]? :D

[2022-11-22 01:23] jackton1 commented on #812
@rainabba This was already implemented in the latest release, I'll suggest you upgrade (if you use semver) or re-run the action (if you use the major version).

[2022-11-22 16:44] ViacheslavKudinov commented on #714
Hi @jackton1
I've just got situation with wrong list of changed folders.
PR includes 2 folders we subscribe on: `dev/developer-handbook` and `prod/developer-handbook`
<img width="323" alt="image" src="https://user-images.githubusercontent.com/56436734/203366356-3f7ae5b9-aaec-4509-b686-d39db6fe71f7.png">
But Actions returned 3 folders: `dev/developer-handbook` `prod/developer-handbook` `prod/hawkey

[2022-11-22 17:06] ViacheslavKudinov commented on #714
<details><summary>There is  debug log (Click me)</summary>
[code]
</details>

[2022-11-22 17:07] mabdullah99 commented on #151
@jackton1 I still get duplicate outputs in `all_changed_and_modified_files` when using both `files` and `dir_names` inputs

[2022-11-22 17:25] ViacheslavKudinov commented on #714
I've just tested again `tj-actions/changed-files@v34.1.1` and didn't get 3 changed folders that time, only 2 -` dev/developer-handbook` and `prod/developer-handbook`

[2022-11-22 17:40] ViacheslavKudinov commented on #714
Probably issue has to be reopened.

[2022-11-22 18:39] jackton1 commented on #151
@mabdullah99 can you provide the related logs where you saw duplicates ?

[2022-11-23 13:21] grzegorzkrukowski commented on #714
I tested it as well. Getting all the changes again from the main branch when it should be just PR changes.

Here is the PR:
https://github.com/raycast/extensions/pull/3171/files (11 files changed)

and related Check that returned all files from main branch:
https://github.com/raycast/extensions/actions/runs/3532228657/jobs/5926328721

[2022-11-24 00:35] #820 closed

[2022-11-24 03:27] #789 closed

[2022-11-24 09:25] onedr0p commented on #789
Thanks @jackton1 ❤️

[2022-11-24 11:44] jackton1 commented on #789
@onedr0p Your welcome.

[2022-11-29 18:51] kd7lxl opened #829 "[BUG] Glob not matching changed files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

I'm attempting to detect changed files in a directory like `files: dir1/**`. The changed files are not matched. `any_changed` is `false` and the changed files are only listed under `other_changed_files`. I

[2022-11-29 18:57] kd7lxl commented on #829
Ah ha! I narrowed it down further. `dir1` from my example is in the repo's `.gitignore`. `.gitignore` behavior changed here:
* https://github.com/tj-actions/glob/pull/434
* https://github.com/tj-actions/changed-files/pull/670

[2022-11-29 18:57] #829 closed

[2022-11-30 13:03] davidbluevine opened #830 "Unable to find merge-base between master and HEAD[BUG] <title>"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Does this issue exist in the latest version?

- [X] I'm using the latest release

### Describe the bug?

Hey,
I ran github action with this action and I got:
 From https://github.com/arigosakiburi
   * [new branch]      master     -> origin/master
  branch 'master' set up to track 'origin/master'.
  From https

[2022-11-30 16:30] jackton1 commented on #830
@davidbluevine Can you also provide the version you are using, based on the error I assume it isn’t the latest version.

[2022-11-30 21:44] #830 closed